[2020-08-18 11:48] eddiejaoude opened #1 "Project list with their technologies and status"
Project list to have the following information

- project title
- project link
- main project maintainers / point of contact
- status (idea, started, mature, maintenance)
- technologies used

What else?

[2020-08-18 11:49] eddiejaoude opened #2 "Our community mission statement"
Something like...

We believe Open Source is for everyone
We are changing the world 1 pull request at a time (stolen from Hacktoberfest)
...

What else?

[2020-08-18 11:51] eddiejaoude opened #3 "Video with 1 sentence with people from the community"
My idea was to create a video we can put along side our mission statement, include 1 sentence from different people from the community

What do you think? Would you take part?

[2020-08-18 17:43] Shubham714 commented on #2
I think, **We believe Open Source is for everyone** is the best one.

[2020-08-19 08:43] gagangaur commented on #3
similar to a kind of video which was put on hacktoberfest website

[2020-08-19 08:44] eddiejaoude commented on #3
@gagangaur yes similar, but I don't want to split sentences up like they did, I think it would be 1 complete sentence from each person before the video moves on

[2020-08-19 08:46] gagangaur commented on #3
Content in the video should be narrated like a story what do you think upon this

[2020-08-19 08:48] eddiejaoude commented on #3
This is a good idea, but more difficult to do 😂 - a lot of planning.

Maybe for the 2nd version. I was thinking to keep it simple for the first version. But we can try because a story is best 👍

[2020-08-19 09:18] gagangaur opened #4 "Open discussion for the community website"
here in this issue drop ideas regarding design, technology stack, new feature regarding the community website.

[2020-08-19 09:23] eddiejaoude commented on #4
Probably best to have an `issue` for each topic, otherwise it will get too busy/noisy in a single `issue`. We can discuss this on the live stream 🤓

[2020-08-19 09:48] eddiejaoude opened #5 "Also to include on the website"
New issues should be created for each feature below...

- Code of Conduct
- why join our community
- Connect with us on:
   - Discord
   - GitHub Organisation
   - Live streams
   - Support repo
- Profile picture on these platforms
   - Its more friendly
   - Could be a pet or cartoon character, default pictures look like bots or spam
- our project/repo list, technologies, state (alpha, beta, ...)

[2020-08-19 11:12] eddiejaoude opened #6 "Who are the Moderators"
Who to contact if there is an issue, please do not tag these people for general tech questions

[2020-08-19 11:13] eddiejaoude opened #7 "Our community FAQs in README/Website"
Common questions/answers people ask when new to our community

- How do I join the Github Organisation
- ...

*Edit: In our `support` repo, we could have FAQs from the community questions*

[2020-08-19 11:41] Kundan28 commented on #7
How to create an organisation

[2020-08-19 13:26] eddiejaoude commented on #7
@Kundan28 this is the FAQs for joining our community. In our `support` repo, we probably need to collate popular questions there

[2020-08-19 14:46] Kundan28 commented on #7
Thanks for the clarification.

[2020-08-19 21:10] eddiejaoude commented on #7
No problem, always good to discuss these things and see other peoples opinions. Thank you 👍 - keep suggestions coming 🤓

[2020-08-20 09:08] eddiejaoude opened #8 "Holding page for website"
<img width="1348" alt="Screenshot 2020-08-20 at 10 05 47" src="https://user-images.githubusercontent.com/624760/90750677-119e9500-e2cd-11ea-874d-9dc1a74bc72d.png">

[2020-08-20 09:09] #8 closed

[2020-08-20 09:23] gagangaur commented on #5
we can probably have a nav at the top of landing page referring to different pages of the website like to

and will post some ideas later.

[2020-08-20 12:22] BOLT04 commented on #1
In terms of the UI I would suggest a project picture (or perhaps gif 🤔...) so the user can get a feel for the project even before clicking the link to see more.

**Example**:
![imagem](https://user-images.githubusercontent.com/18630253/90769419-1faddf00-e2e8-11ea-9856-828208c0cc0d.png)

Source: https://aromalanil.me/#portfolio

[2020-08-20 13:23] NathanDennis opened #10 "Suggestion for different envato image on landing page"
https://elements.envato.com/teamwork-UP8MCL7
or
https://elements.envato.com/technology-concept-8FW5ASH

[2020-08-20 13:48] eddiejaoude commented on #1
Project preview/screenshot is a great idea 👍

[2020-08-20 17:55] gagangaur commented on #10
I would suggest going with the first one because that's what the motive of the community

[2020-08-21 08:23] eddiejaoude commented on #10
thanks @NathanDennis 👍 and @gagangaur 👍

[2020-08-21 18:58] BOLT04 opened #11 "Tech stack for this project"
Will we build this with HTML, CSS and perhaps JS, or do we use libraries and frameworks? And within frameworks, will we use CSS frameworks like Bootstrap or Tailwind and/or JS frameworks?

IMO we can keep it simple at first and build a website with HTML and CSS, what do you guys think?

[2020-08-23 16:33] BOLT04 opened #16 "Create contributing file"
We should have a `CONTRIBUTING.md` file explaining how to contribute to this repository, for example, the Git commit message convention we should follow.

### Examples
- [EddieBot contributing file](https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/.github/CONTRIBUTING.md)
- [EddieBotUI contributing file](https://github.com/EddieJaoudeCommunity/EddieBotUI/blob/develop/CONTRIBUTING.md)

[2020-08-23 18:31] AllanRegush opened #17 "Code of Conduct"
We should add a code of conduct

[2020-08-23 18:32] eddiejaoude commented on #17
Yes 👍 - I will add one now, thank you @AllanRegush

[2020-08-23 18:33] #17 closed

[2020-08-23 18:33] eddiejaoude commented on #17
Added 👍

[2020-08-24 14:24] Arvindjitta opened #19 "our project/repo list, technologies, state (alpha, beta, ...)"
Initial from https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/issues/5

lets list all of our community projects...

cards should look like this: -
[
![Facebook Post - 1](https://user-images.githubusercontent.com/35035788/91071769-317be300-e656-11ea-8339-9d256373d949.png)
](url)

[2020-08-24 14:27] eddiejaoude commented on #19
If you want some inspiration, this site has some good examples https://tailwindcomponents.com

[2020-08-24 14:29] Arvindjitta commented on #19
@eddiejaoude brother, which projects does the list should include ....all of your 224 repositories?

[2020-08-24 14:31] eddiejaoude commented on #19
Nope, please only include our community organisation repos https://github.com/EddieJaoudeCommunity

Should be about 8 repos. If you could leave a "section" for project status, dont worry about the value for now, I can fill those in - example values will be `alpha`, `beta` ...

[2020-08-24 14:46] Arvindjitta commented on #19
so basically the new should consist of a list in README?? ..should it be like this https://github.com/EddieJaoudeCommunity/awesome-github-profiles

[2020-08-24 14:51] eddiejaoude commented on #19
not sure what you mean here. It will go in this repo.

I was thinking something like this for the list of projects https://tailwindcomponents.com/component/post-card
- project name
- project description
- repo link
- website link
- tech list
- status

*note: with the screenshot, dont make it a small circle, full size square will look better*

[2020-08-24 14:55] Arvindjitta commented on #19
i got your vision

[2020-08-24 15:03] eddiejaoude commented on #19
Dont worry about making it perfect, do only a little, just enough to add value, then we can iterate on it to make more improvements 😉 (little and often)

[2020-08-24 17:32] Arvindjitta commented on #19
i have made a pull request for the card , as of now it only looks great in largscreens

[2020-08-24 17:37] eddiejaoude commented on #19
Lets continue the discussion in the PR, so we can keep the discussion in the right place 😉 https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/pull/20

[2020-08-25 19:39] BOLT04 commented on #19
@Arvindjitta, that UI looks amazing 💯 !!

[2020-08-26 08:51] eddiejaoude opened #22 "Move SVG image from html file to external file"

[2020-08-26 09:06] #22 closed

[2020-08-26 13:15] ritvij14 commented on #1
![image](https://user-images.githubusercontent.com/51456744/91307972-44b0bf00-e7cc-11ea-8641-dc251fbca73e.png)

This is the current look of the Projects section, I have kept it simple but responsive.

[2020-08-26 14:18] eddiejaoude commented on #1
Looks good, sharing a responsive image too would be useful

[2020-08-27 12:46] eddiejaoude opened #25 "Hero SVG not appearing in chrome but works in Safari and Firefox"
We have this in the SVG

[code]

but for Chrome we need

[code]

[2020-08-27 12:49] #25 closed

[2020-08-27 21:26] BOLT04 commented on #6
@eddiejaoude I have a question about how to implement this issue. I was going to make this in a new file called `moderators.html`, which would be a new page that the user could navigate to with the navbar above. Is it easier to instead put the code on `index.html`?
If the navbar gets merged before this, I'll update it, but the list of moderators could be on `index.html` and provide value immediate

[2020-08-27 21:38] eddiejaoude commented on #6
yes, I think having it in the `index.html` for the now is easier, we can move it out later if needed

Thanks @BOLT04 , we were chatting in Discord earlier today about using the [horizontal cards](https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/pull/21) for the moderators and the [vertical cards](https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/pull/24)

[2020-08-28 12:47] BOLT04 commented on #6
ahh cool, I didn't catch the whole discussion on the UI for those cards, thanks for letting me know @eddiejaoude 😃. I think using those horizontal cards you mentioned is great. I haven't had much time this week to continue development on this issue, but tomorrow I'll continue and make a PR.

I'll contact Rvindjitta to align on the code he has for these cards and what I have.

[2020-08-28 12:51] eddiejaoude commented on #6
Dont worry, that is why I prefer having the main points of the chat on GitHub because in Discord things get lost / missed easily

Yeah I think chat and align with @Arvindjitta , the screenshot in PR #21 is out of date, and he has done more work on it. PR #24 got merged, but still needs more work to it, for example tech stacks and links to repos etc

[2020-08-28 13:08] BOLT04 opened #30 "Latest livestreams section on Home page"
Hi everyone 😃,

I was thinking it would be cool to have a section with the latest livestreams/videos, below or maybe above the Projects section.
This could give a newcomer an idea of the sort of community we are, by the titles of the videos and thumbnails. Or it could give awareness to something they didn't watch and was really cool like [this livestream](https://www.youtube.com/watch?v=sD5vCZfP21

[2020-08-28 13:30] eddiejaoude commented on #30
This is a great idea 👍 - we can keep it simple to begin with and make it more advanced as we go along. From the 2nd half of September (in a few weeks), I will have a more regular schedule too - so hopefully it will be clearer for everyone 🤓

[2020-08-28 16:21] ritvij14 opened #31 "Update Website screenshot on README.md"
The screenshot of the website present on `README.md` needs to be updated since we now have more stuff on our website. This will help the community who come to visit this repository a good idea of our website from the image.

[2020-08-31 14:01] UdokaVrede commented on #16
I would love to look into this

[2020-08-31 17:12] eddiejaoude commented on #16
@UdokaVrede awesome 👍 . That would be great, let us know what help you need.

I think a good start is to:
1. create an Issue on each repo in the organisation that is missing the `CONTRIBUTING.md` file
2. lets start with this repo, create a PR with a blank `CONTRIBUTING.md`
3. add little snippets of useful information to the new file in a new PR and we can help too

Any questions let us know 🤓

[2020-08-31 18:04] AllanRegush opened #34 "Suggestion: Project cards should have a link to the repo"
I think the project cards should have a link to the repo for more information.

[2020-08-31 18:05] eddiejaoude commented on #34
Good idea 👍

[2020-08-31 18:05] AllanRegush opened #35 "How to join our organization"
I think the should be a section on the website on how to join.

[2020-08-31 21:35] #11 closed

[2020-08-31 21:59] BOLT04 commented on #16
@UdokaVrede awesome, if you want I can assign it to you, then you can make a PR with the file 👍. Also, on the PR description you can add "closes #16", this issue will be automatically closed when it gets merged 😃

[2020-08-31 22:02] BOLT04 commented on #34
Yes, it would be cool if you can click the image, or maybe the whole card, and that would open a new tab with the repo 👍

[2020-08-31 22:08] BOLT04 commented on #35
Do you think this should be below our mission statement or the projects list? I think we can prioritize the most important sections to be first for better UX, but the "how to join" section seems to fit in FAQ (it would probably the most frequent).

What do you think of this being implemented like discussed in #7 @AllanRegush?

[2020-08-31 22:11] eddiejaoude commented on #35
Oh this is a great idea 👍 . FAQs are usually towards the end of the page. I guess things can be moved around later too

[2020-09-01 02:29] AllanRegush commented on #35
I think it would work okay in a FAQ section. But I was just thinking about making it easier for someone wanting to join. Maybe have a join section after the projects?

[2020-09-01 06:05] Arvindjitta commented on #31
yeah brother, its need to be updates lets make a PR for That

[2020-09-01 06:12] Arvindjitta commented on #35
still i'm not sure how to join ..can anyone explain how

[2020-09-01 07:08] eddiejaoude commented on #35
@Arvindjitta raise an issue on this repo asking to join and I will add you https://github.com/EddieJaoudeCommunity/support/issues

[2020-09-01 07:08] eddiejaoude commented on #35
@AllanRegush ok good idea, lets make it stand out even more 👍

[2020-09-01 10:53] UdokaVrede commented on #16
@BOLT04 and @eddiejaoude  I am taking this then. Thanks.

[2020-09-01 13:08] BOLT04 commented on #35
@AllanRegush thanks for clarifying, I understand your point of view now. I totally agree with your idea 😃.
We can even have a button after projects saying "Join the community" or just "Join"...although it might not be clear for the user what that button does with just "Join" 🤔. Then with a GitHub action, this joining process that Eddie does manually gets automated 😮 😮😮 😄

@eddiejaoude do you think

[2020-09-01 17:13] eddiejaoude commented on #16
Sure, I have assigned it to you

[2020-09-01 17:22] eddiejaoude commented on #35
It seems like there is a GitHub Action we can use to do this #137, so maybe a message and a button might be enough

[2020-09-01 18:47] AllanRegush opened #40 "Cursor over card should change"
If we are to link to the repo via the card the cursor should change to a pointer.

Add the style:
[code]

[2020-09-01 19:32] eddiejaoude commented on #40
Thanks @AllanRegush 👍 . Probably best to have it changed to a `a`

[2020-09-02 08:44] #34 closed

[2020-09-02 08:44] #40 closed

[2020-09-02 09:18] #16 closed

[2020-09-02 10:02] mikeysan opened #42 "Slight typo on newcomers.md"
In [newcomers.md](https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/blob/develop/NEWCOMERS.md)

We have the following entry: "Now you can go ahead and effect the desired changes."

I think this should read: " Now you can go ahead and affect the desired changes."

i.e. affect instead of effect.

[2020-09-02 10:29] mikeysan opened #44 "Should the image on our readme.md link to something else"
At the moment when you click on the community image on [EJC](https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io) it opens a new tap with a larger image.

Might it be a good idea to make that image link to something more useful instead? Maybe something like the newly created newcomers.md?

[2020-09-02 10:46] eddiejaoude commented on #42
Fixed https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/pull/43

[2020-09-02 10:46] #42 closed

[2020-09-02 10:47] eddiejaoude commented on #44
Good idea 👍

[2020-09-02 10:55] UdokaVrede opened #45 "Missing link in readme.md, typo in contributing.md and newcomers.md"
The images below highlight the areas affected.
![ok](https://user-images.githubusercontent.com/63649352/91972806-1d4d7b00-ed13-11ea-9cc3-756955059cf5.png)
![no](https://user-images.githubusercontent.com/63649352/91972811-1e7ea800-ed13-11ea-90a2-6677fdc9750d.png)
![not](https://user-images.githubusercontent.com/63649352/91972815-20486b80-ed13-11ea-85c2-9a26e62838be.png)

[2020-09-02 10:59] eddiejaoude commented on #45
Oh good spot 👍

[2020-09-02 11:06] UdokaVrede commented on #45
I'd fix this now but on the readme.md I noticed this
![no](https://user-images.githubusercontent.com/63649352/91973745-a913d700-ed14-11ea-9913-343b6cb7af53.png)
please what is meant to be here

[2020-09-02 11:08] eddiejaoude commented on #45
Another great spot 👍 , these are still work in progress, so thank you for moving it forwards 🤓

this is meant to be the list of repos we, their description and tech - but for now, even a list of repos is a big improvement 👍 , link to the repo list https://github.com/EddieJaoudeCommunity

[2020-09-02 11:15] UdokaVrede commented on #45
This should be done in a tabular format right?
like repositories, description and technologies?

[2020-09-02 11:30] eddiejaoude commented on #45
I think tabular would be better 👍 , but a list is ok for now too, up to you 🤓

[2020-09-02 11:31] eddiejaoude commented on #45
I will close this Issue as PR #46 got merged. Can you raise a new issue for the project list?

[2020-09-02 11:31] #45 closed

[2020-09-02 13:07] Obizim commented on #44
I can take this up but where exactly should the image link to?
The newcomers.MD or where?

[2020-09-02 13:31] mikeysan commented on #44
I think newcomers.md is a good start. It can always be changed later once implemented.

[2020-09-02 19:58] BOLT04 opened #47 "Moderators has UI problems on Firefox"
## Actual
![imagem](https://user-images.githubusercontent.com/18630253/92030230-a6d66a80-ed5e-11ea-8b7b-0ff0cdad554b.png)

Screenshot taken on Mozilla Firefox browser.

## Expected
![imagem](https://user-images.githubusercontent.com/18630253/92030592-2ebc7480-ed5f-11ea-8b97-64b51bd1ce82.png)

Screenshot taken on Google Chrome browser.

_Note: This is just a reminder since our main target is Google

[2020-09-03 04:58] Arvindjitta commented on #47
i guess its because of tailwind container, behaviour of it in firefox is little weird

[2020-09-03 10:39] Arvindjitta opened #50 "welcome first time contributors"
https://github.com/marketplace/actions/github-script#welcome-a-first-time-contributor

[2020-09-03 14:45] VictoryWekwa commented on #50
Please what is to be done for this?

[2020-09-03 14:47] VictoryWekwa commented on #31
I can do this

[2020-09-03 16:52] VictoryWekwa commented on #31
can i work on this?

[2020-09-03 19:26] BOLT04 commented on #50
@Arvindjitta this is an awesome idea, thank you for raising this issue 😃!
@VictoryWekwa I believe @eddiejaoude would use that bot from the marketplace and setup the repo to use it. Then, with that Github action that gets triggered every PR, the contributor would get a message from the bot saying like "thanks for contributing. This is your first contribution, so welcome to the community 😃 "

**Exam

[2020-09-03 19:31] BOLT04 commented on #31
@VictoryWekwa yes, I can assign this issue to you since I don't think anyone is working on it 😃

[2020-09-03 21:37] VictoryWekwa commented on #50
oh!
okay

[2020-09-04 11:55] eddiejaoude commented on #31
Great, thanks @VictoryWekwa 👍

[2020-09-04 12:16] RemcoHalman opened #52 "Adding links to Github repos"
Would it be an idea to add links to the [Community website](https://eddiejaoudecommunity.github.io/) cards?

For example the _Hacktoberfest practice_ to the repo [Hacktoberfest practice](https://github.com/EddieJaoudeCommunity/hacktoberfest-practice)

[2020-09-04 13:12] eddiejaoude commented on #50
@VictoryWekwa you could use the example they have in their docs. I think that would add value to the user already. What do you think @BOLT04 ?

Ideas:
- Maybe update the `body` field with a bit more information

I think creating the file `.github/workflows/first-timer.yml` in this repo would work (similar to this GitHub Action by @stemount https://github.com/EddieJaoudeCommunity/support/blob/main/

[2020-09-04 13:16] #31 closed

[2020-09-04 13:30] eddiejaoude commented on #52
Yep good idea @RemcoHalman  👍

[2020-09-04 13:30] Obizim commented on #52
I think this is a nice idea too. Maybe an eye icon or "view repo" text on each card that will link to the project repo on click

[2020-09-04 13:32] RemcoHalman commented on #52
I could do this today 👍

[2020-09-04 13:32] eddiejaoude commented on #52
@Obizim oh I like it 👍 .

Thanks @RemcoHalman that would be amazing. Let me assign it to you 🤓

[2020-09-04 13:33] eddiejaoude commented on #52
@RemcoHalman the icon could come in another Issue and PR, it doesn't all have to come together - just an idea

[2020-09-04 13:48] alrifay commented on #52
@eddiejaoude i think its already done in PR https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/pull/39

[2020-09-04 14:44] eddiejaoude commented on #52
@alrifay thank you for noticing, you are right! 👍 . It didn't get merged to `main` yet so it was not deploy, I am doing that now in #53

[2020-09-04 14:47] eddiejaoude commented on #52
Deployed 👍 .

@RemcoHalman please have a look, see if there are any improvements you recommend. If not, we can close this.

[2020-09-04 14:51] RemcoHalman commented on #52
I don't think so, that solved the linking off the cards. Personally I would wrap it in a link `<a>` with a text. What do you all think? Or else ill let it be just like this

[2020-09-04 15:24] #52 closed

[2020-09-04 15:25] rohitv-dev opened #54 "GitHub Action to update the version number"
It would be useful to know which version has been deployed. With a GitHub Action that increments the PR number and displays it on the website footer

[2020-09-04 15:45] eddiejaoude commented on #54
thanks @rohitv-dev 👍

[2020-09-04 18:19] BOLT04 commented on #50
Yes I agree Eddie 👍

[2020-09-04 22:57] VictoryWekwa commented on #50
Please can there be a break down of what exactly to be done for this?

[2020-09-05 04:57] eddiejaoude commented on #50
@VictoryWekwa maybe this can be split into 2 issues:

1. get the GitHub Action triggering for the right events
2. customise the message

I could try and do `1`, and you can then customisations it for point `2`

[2020-09-05 08:12] eddiejaoude commented on #50
I am trying to abstract this Community Action so we can easily use it on multiple repos.

I have done this @VictoryWekwa https://github.com/EddieJaoudeCommunity/gh-action-community/blob/main/.github/workflows/community.yml

If you look at lines `14` and `15`, if you could improve the welcome messages that would be great. Let me know what you think 🤓

[2020-09-05 16:54] VictoryWekwa commented on #50
Looks good already.
on line 14, how about having something like;
welcome: "#It's great having you contribute to this project. Feel free to raise an issue and create a Pull request. Welcome to the community!"

[2020-09-05 17:06] eddiejaoude commented on #50
Sounds good, some thoughts:

- `#It's great` I think a space is needed after the `#`

- this should go on the next line, I think this can be done with a `\n`

Also maybe add `if any questions please ask in Discord`

[2020-09-05 17:17] VictoryWekwa commented on #50
okay. Great.
Will work on it and then create a PR.

[2020-09-05 17:21] eddiejaoude commented on #50
Sounds good 👍 - don't worry about making it "perfect", I think this can be something we keep iterating on and make small improvements each time.

Looking forward to seeing what you do 🤓 . Any questions let us know

[2020-09-06 05:39] VictoryWekwa commented on #50
Okay.
for **"# It's great**,

I just created a pull request [here](https://github.com/EddieJaoudeCommunity/gh-action-community/pull/24)
Am i to also create a pull request here?

[2020-09-06 05:47] eddiejaoude commented on #50
Great 👍 , thanks @VictoryWekwa

I am hoping a pull request on that repo is enough and I can use it on other repos by importing it via a GitHub Action, so I don't think another pull request here is needed.

Note: `#` is the same as `h1` (but single line markdown `h1` might be easier, so that is fine 👍 )

[2020-09-09 09:11] AakarshTeja opened #55 "Add Community GitHub Action to this repo"
This is the community Action https://github.com/EddieJaoudeCommunity/gh-action-community

And here is an example of how to add it https://github.com/EddieJaoudeCommunity/support/blob/main/.github/workflows/community.yml

[2020-09-11 19:01] BOLT04 commented on #55
For reference, this is related to the issue #50

[2020-09-12 05:59] #35 closed

[2020-09-12 06:01] eddiejaoude opened #58 "Amadine's links not working"

[2020-09-12 06:02] #58 closed

[2020-09-13 11:26] #6 closed

[2020-09-19 08:29] eddiejaoude opened #63 "Automated testing"
- Cypress
- Cucmber

[2020-09-19 08:47] eddiejaoude commented on #63
<img width="1196" alt="Screenshot 2020-09-19 at 09 46 45" src="https://user-images.githubusercontent.com/624760/93663089-15a10c80-fa5d-11ea-94c8-d5ee40f602c3.png">

[2020-09-19 09:07] #63 closed

[2020-09-19 09:18] eddiejaoude opened #65 "GitHub Action to run Cypress tests"

[2020-09-19 12:11] #65 closed

[2020-09-24 11:26] mikeysan opened #67 "Add AXE accessibility to Cypress"
Eddie needs this done :) ps. assign it to him.

[2020-09-24 15:00] eddiejaoude opened #68 "Svelte"
[code]

[2020-09-24 15:14] mikeysan commented on #68
Fantastic! I had just left a comment asking you to do this when I saw you do it :)

[2020-09-24 15:24] eddiejaoude commented on #68
### `App.svelte`

[code]

## Component `Card.svelte`
[code]

[2020-09-24 15:28] peopledrivemecrazy commented on #68
`use:action` small example

https://svelte.dev/repl/2ba85341ce2d41dfa467f6a8056379cc?version=3.26.0

[2020-09-24 15:40] tanhauhau commented on #68
tutorial for using action: https://svelte.dev/tutorial/actions

[2020-09-24 22:14] eddiejaoude commented on #67
LOL anyone can do it I dont mind.

I think here is the npm dependency and it has config instructions https://www.npmjs.com/package/cypress-axe

[2020-09-24 22:21] BOLT04 opened #69 "Save the Cypress artifacts after Actions have run (failed)"
**Description**

**More Links**
- https://docs.cypress.io/guides/guides/continuous-integration.html#Record-tests
- https://github.com/cypress-io/github-action#record-test-results-on-cypress-dashboard
- https://github.com/cypress-io/github-action#artifacts

[2020-09-24 22:43] eddiejaoude commented on #68
Thank you 👍

[2020-09-24 23:01] eddiejaoude commented on #69
Thanks @BOLT04 👍

[2020-09-25 18:45] BOLT04 commented on #68
Hi everyone 👋, is someone working on this already in their fork? If someone already started I can assign this to you if you want. If not, I'll work on this and make a PR 😃

[2020-09-26 20:25] BOLT04 commented on #19
@eddiejaoude and @Arvindjitta do you think we can close this issue?
Currently, this UI is being used for the moderator cards and it was done in #21 :
![imagem](https://user-images.githubusercontent.com/18630253/94349667-9b651f00-003e-11eb-8192-f6d696fb2845.png)

[2020-09-27 07:13] eddiejaoude commented on #19
Good idea @BOLT04 as this has not moved in a while.

We will need more cards for other sections, so this can be picked up later on by @Arvindjitta or someone else when they have time.

[2020-09-27 07:13] #19 closed

[2020-09-27 07:16] #68 closed

[2020-09-27 07:34] malhotramanik opened #71 "deploy svelte generated website"

[2020-09-27 07:38] eddiejaoude commented on #71
Thank you creating the issue @malhotramanik 👍

Currently the svelte website is generated on the command `npm run build` into the `public` directory. On GitHub Pages the only directories that are deployed are `/` (root) and `docs/`.

We could use a GitHub Action to deploy to a branch from any folder:

[code]

https://github.com/marketplace/actions/deploy-to-github-pages

[2020-09-27 09:47] RemcoHalman commented on #71
@eddiejaoude I could add it today/tomorrow. If no one else wants to add it.

[2020-09-27 09:51] eddiejaoude commented on #71
Sure @RemcoHalman 👍 - sounds good. I can assign it to you 🤓

[2020-09-27 16:06] UnevenCoder opened #73 "Sveltifying Moderators part and decreasing the amount of divs hopefully and repetition for different design"

[2020-09-27 20:37] BOLT04 opened #75 "Add back the spacing to Projects section"
## Description
I noticed on our deployed version of the website we have a margin of 8: https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/blob/01c27e5fd2d8227395a6c7b1ff36fcb1a7eb458f/index.html#L47

**Screenshot (main branch)**
![imagem](https://user-images.githubusercontent.com/18630253/94375110-26125080-0109-11eb-9064-725c2f5fcd7d.png)

**Screenshot (develop branch)**
![imag

[2020-09-27 22:26] #71 closed

[2020-09-27 22:27] eddiejaoude commented on #75
Thanks @BOLT04 👍

[2020-09-28 01:26] iambami commented on #75
love to take this

[2020-09-28 01:28] iambami commented on #55
Can I take this?

[2020-09-28 01:30] AllanRegush commented on #55
@iambami Yep it's free. I'll assign it to you.

[2020-09-28 01:31] AllanRegush commented on #75
@iambami Assigning to you.

[2020-09-28 01:42] iambami commented on #75
Thanks Allan. Can I have the bring down of the issue, please?

[2020-09-28 07:29] RemcoHalman opened #77 "Re run Cypress test on edit"
When editing a pull request the Cypress test is not kicking in. Type to add: **edited** should fix this

[2020-09-28 08:59] #77 closed

[2020-10-01 05:07] UnevenCoder opened #79 "more sveltifying needed ..."
[code]
This can be made a separate component too what do you say ?

[2020-10-01 11:03] Debyanshu opened #80 "Welcome to all trusted and learner contributer"

[2020-10-01 18:19] AllanRegush opened #81 "HomePage project section could use more testing."
I think the homepage could use more testing. We should make sure project cards have are what we are expecting.

[2020-10-01 18:20] AllanRegush commented on #81
I would like to tackle this. Any input on cypress best practices would be appreciated. Do we put these tests in homepage.feature?

[2020-10-01 19:34] BOLT04 commented on #79
yes good idea 👍. This could be called `Footer`  😃. If you want to work on this I can assign it to you, just let me know.

[2020-10-01 20:12] UnevenCoder commented on #79
Cool I will work on this 😊

On Thu, 1 Oct, 2020, 10:34 PM David, <notifications@github.com> wrote:

[2020-10-01 21:10] BOLT04 commented on #80
Hi @Debyanshu 😃, can you provide a little description for this issue? Is this a request for a new page or a section on the home page to welcome contributors?

[2020-10-01 21:16] BOLT04 commented on #81
Hi @AllanRegush, yes I think they would go to homepage.feature, but @Karem1986 can provide more input about this topic 😃

[2020-10-01 22:51] eddiejaoude commented on #79
Great 👍

[2020-10-02 02:17] alrifay opened #82 "We need to refactor moderators component"
Moderators component should take 1data item rather than the whole array

_Originally posted by @eddiejaoude in https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/pull/76#issuecomment-702435662_

[2020-10-02 08:06] eddiejaoude commented on #81
Thanks @AllanRegush

I think with the automated testing, it is good to have a balance with how detailed we go with it, otherwise it will be very difficult to maintain.

Some of my ideas:

- Check each section exists, probably title
- Check each section for the correct card count, for example, there are 8 project cards
- Test 1 card for each section that has the content we expect - this shows the c

[2020-10-02 08:10] Karem1986 commented on #81
Hi everyone,
I will do the testing with Cypress, although not right now. I am happy to walk you through Allan.
Karem

[2020-10-02 08:28] eddiejaoude commented on #82
Thanks @alrifay 👍

[2020-10-02 08:45] #82 closed

[2020-10-02 18:41] BOLT04 opened #86 "Consider using a tool to analyse the website (e.g. performance, accessibility)"
Recently I heard of this GitHub action called [Lighthouse Check](https://github.com/marketplace/actions/lighthouse-check) and I think we can use it to start analyzing our website and see if there is anything we can improve 😃.

Every time a PR opens we could check if performance dropped or SEO went up because of X change (e.g. by adding [good alt attributes](https://moz.com/learn/seo/alt-text)).

W

[2020-10-02 18:49] BOLT04 commented on #81
I agree with @eddiejaoude ideas. I have a few notes to add that I think we should consider when developing these tests:
- Don't test specific content on the page (e.g. checking if the title of a card is "EddieBot"), since this data may change in the future and that shouldn't require a change to tests, imo
- Test if the layout of each card shows less data on mobile (e.g. moderator card only has lin

[2020-10-02 22:19] #79 closed

[2020-10-02 22:29] alrifay commented on #75
It's already fixed in #83, I didn't notice that we have an issue for it 😅

[2020-10-02 22:31] alrifay commented on #73
This issue  is resolved in #76

[2020-10-02 22:31] #73 closed

[2020-10-02 22:35] BOLT04 commented on #75
sorry @iambami, it was indeed done on that PR @alrifay mentioned. I'll close this issue but there are other issues you can work on if you want 😃

[2020-10-02 22:35] #75 closed

[2020-10-02 22:43] alrifay commented on #47
I tried the deployed site on Firefox, it looks very similar to Chrome's  except for the font, it slightly different.
- Firefox: ![Firefox](https://user-images.githubusercontent.com/19517534/94974966-7b3ad180-0510-11eb-84cd-48d862f806e8.png)
- Chrome ![Chrome](https://user-images.githubusercontent.com/19517534/94975127-f0a6a200-0510-11eb-96f3-d0b77eb6ab4b.png)

[2020-10-02 22:47] alrifay commented on #4
@eddiejaoude should we close this issue ?

[2020-10-02 22:49] alrifay commented on #5
is this issue resolved? 🤔

[2020-10-02 22:51] alrifay commented on #44
This issue could be `good first issue`, what do you think @eddiejaoude ?

[2020-10-02 23:14] alrifay commented on #1
Should we close this issue since we now have a project list and create a new issue for each missing feature?

[2020-10-03 03:40] vamsi963601 commented on #86
Does it provide any visual aids?

[2020-10-03 12:42] BOLT04 commented on #47
@alrifay I think you are right 👍. When I changed the font-size of the description text to the same value on Chrome, it looks better:
![imagem](https://user-images.githubusercontent.com/18630253/94991913-3baace80-057e-11eb-8224-6f7692a0db14.png)

For the rest of the differences, it might be the size of my monitor 😅

[2020-10-03 12:47] BOLT04 commented on #5
I think most bullet points are done @alrifay. Although I don't think we have the COC on the footer.
I think originally @gagangaur created a PR to change the Envato image on the website and add a navigation bar, but that isn't completed yet.
@eddiejaoude what do you think about closing this issue?

[2020-10-03 12:53] BOLT04 commented on #44
@alrifay I agree 😃. Right now the image doesn't take you anywhere when clicked, so for the issue, the list of tasks could be:
- [ ] Wrap the [image](https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/blob/c05edc301ea4e552bda93f00cbee0b98cd3d2851/src/App.svelte#L12) with an `<a>` tag and add the `href` attribute with the value: https://github.com/EddieJaoudeCommunity/EddieJaoude

[2020-10-03 12:59] BOLT04 commented on #1
I think that is a good idea @alrifay 👍. We can separate each task so that each contributor has less work to do, which generates a smaller and easier to review PR. There might be merge issues to solve after, but nothing we can't manage 😄

Missing features:
- main project maintainers / point of contact
- status (idea, started, mature, maintenance)
- technologies used

[2020-10-03 13:05] BOLT04 commented on #86
yes @vamsi963601 😃, it has this table after the action runs:
![imagem](https://user-images.githubusercontent.com/18630253/94992340-50d52c80-0581-11eb-9cfe-0bb84936e687.png)

But we can also download the artifact and use the HTML page to see the results:
![imagem](https://user-images.githubusercontent.com/18630253/94992352-621e3900-0581-11eb-8c01-42ed7a9bd7aa.png)

[2020-10-03 13:16] BOLT04 commented on #86
I ran lighthouse on our current deployed version and I think some points can be improved, for example:
![imagem](https://user-images.githubusercontent.com/18630253/94992460-14ee9700-0582-11eb-9cf4-0723c17fedfb.png)

These are those badges on each moderator card like "community" or "python". Perhaps they should have be a `label` HTML element and not a button. Semantically they are just labels, imo.

[2020-10-03 14:14] RemcoHalman opened #89 "Adding New branch"
@eddiejaoude @BOLT04 I rebuild the community page in VueJS to showcase the difference. Can a branch be added to the GH before i do a pull request?

[2020-10-03 14:43] eddiejaoude commented on #4
Yes I think this has been superseded now with new issues that are specific. Thanks @alrifay

[2020-10-03 14:43] #4 closed

[2020-10-03 14:58] eddiejaoude commented on #5
Thank you @alrifay and @BOLT04 , yes lets close this and we can make new more specific issues as required 👍

[2020-10-03 14:58] #5 closed

[2020-10-03 14:59] eddiejaoude commented on #44
Sounds good 👍

[2020-10-03 15:01] eddiejaoude commented on #1
Yep good idea 👍

[2020-10-03 15:01] #1 closed

[2020-10-03 15:06] BOLT04 commented on #89
@RemcoHalman sure 👍. I'll call it `vuejs` and it will be created from `develop` (currently in Svelte). Then when you create the PR, set the target branch to `vuejs` 😃

[2020-10-03 15:07] RemcoHalman commented on #89
@BOLT04 Awesome just got the cypress changed to run with the app.

[2020-10-03 15:08] eddiejaoude commented on #86
Yes 💪 and even more awesome if we can run it as a GitHub Action too 👍

[2020-10-03 15:10] Shanmuganathanb opened #91 "Project list to show technologies used"
Let people know the technologies used in the project..

[2020-10-03 15:15] #89 closed

[2020-10-03 15:19] eddiejaoude commented on #89
Thanks @RemcoHalman and @BOLT04 👍

[2020-10-03 17:38] AllanRegush commented on #86
I found about this tool this week. Was going to mention it :+1:

[2020-10-04 08:31] #81 closed

[2020-10-04 15:18] BOLT04 commented on #91
I'd like to work on this 😃. If anyone else is also interested in this issue let me know 👍

My idea is to have a list of icons below the description of each project. The goal would be to occupy less space, so instead of putting "TypeScript", it would be the TypeScript logo/icon.

I've also considered an approach like GitHub, where we show a color and then the technology name:
![imagem](https://user

[2020-10-04 23:27] AllanRegush opened #93 "Chore: add eslint & prettier config"
We are now using javascript for this project. It might be a good time to add some tools.
Should we keep the same code style as EddieBot?

[2020-10-05 02:43] Jashpatel1 commented on #93
If the issue is open, I would like to take it. @AllanRegush

[2020-10-05 02:46] AllanRegush commented on #93
All yours @Jashpatel1. Assigning to you.

[2020-10-05 14:52] #93 closed

[2020-10-05 23:25] AllanRegush opened #95 "Format and make sure prettier changes"
Format with prettier and eslint. Make sure rules and formating are what we wish.

[2020-10-06 08:13] #91 closed

[2020-10-06 21:30] eddiejaoude commented on #95
@AllanRegush are there examples of where this is not happening?

[2020-10-06 23:32] AllanRegush commented on #95
The PR for the prettier and eslint just had the configuration. No formatting changes are done yet.

[2020-10-07 18:08] #95 closed

[2020-10-10 12:24] BOLT04 opened #97 "Add a note on README for multiple tech branches (e.g. Vue.js)"
We have the `develop` branch built with Svelte, but recently @RemcoHalman contributed with a Vue.js version. We should add a notice on the README so people are aware these branches are for some "display" purposes and to compare 😃

[2020-10-10 15:59] BOLT04 commented on #86
I'd like to work on this 😃, is someone already working on it?

[2020-10-10 19:12] BOLT04 opened #99 "Projects: Add main maintainers / point of contact"
_Note: This issue is related to https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/issues/1#issuecomment-703099813_

We could add this information only on hover. Let me know what you think and how you think this can be implemented, but I was thinking of the main information to display always, then secondary info only shows on hover. This would reduce clutter and too much inform

[2020-10-10 19:14] BOLT04 opened #100 "Projects: Add status label to each card"
The possible values could be: (idea, started, mature, maintenance). We can also show the latest tag, if the project is versioned in GitHub.

_Originally posted by @BOLT04 in https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/issues/1#issuecomment-703099813_

[2020-10-10 23:04] eddiejaoude commented on #97
Yep 👍 . I will add the label `good first issue`

[2020-10-10 23:21] eddiejaoude commented on #86
I am just working through notifications. I assigned it to you, but looks like you created a PR already 👍 . I will get to it shortly 🤓

[2020-10-10 23:32] eddiejaoude commented on #99
Sounds good 👍

[2020-10-10 23:33] eddiejaoude commented on #100
Great idea 👍 . It would be great to have a clear key of what the possible labels are and what they mean too

[2020-10-11 14:46] Sumit-Sahu commented on #44
Can I work on this??

[2020-10-11 16:27] BOLT04 commented on #44
sure @Sumit-Sahu 👍

[2020-10-11 17:55] #86 closed

[2020-10-12 22:57] eddiejaoude commented on #44
PR #102 was merged

[2020-10-12 22:57] #44 closed

[2020-10-18 15:04] VictoryWekwa commented on #97
Hello, Is this issue still open?

If yes, can it be assigned to me?

[2020-10-18 15:05] VictoryWekwa commented on #55
Hello, Is this issue still open?

[2020-10-18 15:21] iambami commented on #55
Hi I'm no the project. Haven't been with my laptop for a while. Sorry Vikky😁

[2020-10-18 17:49] AllanRegush commented on #55
closed by PR #88

[2020-10-18 17:49] #55 closed

[2020-10-18 18:01] eddiejaoude commented on #97
Sure @VictoryWekwa 👍

[2020-10-18 18:54] VictoryWekwa commented on #55
Oh.. okay.. Great.

[2020-10-20 23:54] VictoryWekwa commented on #97
Hello @eddiejaoude i just created a PR. Please kindly review and let me know if i need to add any other information.

[2020-10-21 11:08] vivek80801 opened #105 "Can I create react version of website?"
I have seen this project has three branches. One is main branch, second branch is develop branch and it is made with `sevelt`  and third branch is made with `vuejs`.

So, Can I try to make another version of this project with `reactjs` ?

[2020-10-21 19:17] BOLT04 commented on #105
Hi @vivek80801 😃, thank you for opening this issue and for having the initiative of contributing with another version of the website, using React.js 👍 👍.
You're more than welcome to make that version, I'll assign this issue to you and then you can submit a PR.

[2020-10-21 22:48] eddiejaoude commented on #105
Great idea @vivek80801 👍 - I will create a `react` branch that you can create a PR against. Thanks @BOLT04 👍

[2020-10-21 22:48] eddiejaoude commented on #105
There is a `reactjs` branch already - I think @BOLT04 beat me to it 🤓

[2020-10-22 14:37] wbrijesh opened #106 "Can I work on redesigning the site?"
The site currently isn't that great, can I work on redesigning it?

[2020-10-22 16:40] SashoStoichkov opened #108 "Add Alex action"

[2020-10-22 17:18] eddiejaoude opened #109 "Action ideas"
New issues need to be created for each of these items. The tick does not indicate done, it indicates that the Action is already available.

- [x] Keep fork up to date with [Action](https://github.com/open-sauced/goals-template/blob/master/.github/workflows/sync-2-upstream.yml)
- [x] Assigns Issues to non org members [Take Action](https://github.com/open-sauced/open-sauced/blob/main/.github/workflo

[2020-10-22 21:37] #97 closed

[2020-10-22 21:42] BOLT04 commented on #106
Hi @wbrijesh 😃, we value all contributions to the project. Can you go into more detail on how you are planning on redesigning it? We would like this to be broken down into steps if the resulting PR is too big.

[2020-10-22 21:46] #108 closed

[2020-10-23 04:41] eddiejaoude opened #110 "Action event to run on fork with GitHub token"

[2020-10-23 14:03] mikeysan commented on #109
Do the ticks indicate that you have already completed work on the first two?

[2020-10-23 14:38] eddiejaoude commented on #109
@mikeysan good question. Usually yes, but in this case no. It shows the ones that are available for use, the 3rd one has not been built yet.

I will update the description to be more clear, thank you 🤓

[2020-10-24 13:43] vivek80801 commented on #105
@eddiejaoude  and @BOLT04

It will be great. If I can get some suhggestion from you.

I have created a draft pull request #112 .

[2020-10-25 11:37] wbrijesh commented on #106
Maybe making it look a little bit modern, and more clear.
I'll just create and link a figma design which you can see before i actually start building it.

[2020-10-25 13:03] wbrijesh commented on #106
check out https://www.figma.com/proto/qSVbO6T8Bg2vHGdyCK7LeU/eddie-jaoude-community-redesign?node-id=1%3A2&scaling=min-zoom&hide-ui=1

[2020-10-25 14:25] eddiejaoude commented on #106
Its great you created a Figma design first as it gives a starting point for us all to discuss 👍 .

<img width="1394" alt="Screenshot 2020-10-25 at 14 17 20" src="https://user-images.githubusercontent.com/624760/97109757-f4bb7f00-16cc-11eb-9ed0-043a75ecd4b4.png">

[2020-10-25 15:01] wbrijesh commented on #106
I have not worked on many sites apart for myself or side-projects, so please freely give any opinions you may have.

[2020-10-30 06:07] wbrijesh commented on #106
Do you have any suggestions?

[2020-10-30 08:46] eddiejaoude commented on #106
I would suggest making the changes slowly and incremental. For example update the hero banner to look like your design only. So to make the PRs as small as possible and to provide value to the users as quickly as possible

[2020-10-30 13:36] BOLT04 commented on #106
Hi @wbrijesh, sorry for not being active lately. But I saw your design on Figma and it looks great 👍
I agree 100% with @eddiejaoude 😃. Create a issue for each piece you want to work on, then make a PR. The smaller it is, the faster it'll get merged.

I'd keep the icons for the footer (e.g. GitHub and Youtube icon). Also it's not clear on a Figma design, but keeping some animation on hover of these

[2020-10-30 21:02] BOLT04 commented on #106
oh @wbrijesh and @eddiejaoude, I thought of an idea of something to put on that right side instead of an image or moderators 😃. What do you think of a video/gif that gets played after the page is loaded? I was thinking of those videos @eddiejaoude has on his README profile.

[2020-10-31 08:24] eddiejaoude commented on #106
Great break down above, thanks @BOLT04  👍

I do like video / gif 🤓 - what would it be showing?

[2020-10-31 08:29] wbrijesh commented on #106
redesigning sections one after another makes sense, I will make these sections and start putting pull requests.

[2020-10-31 08:31] wbrijesh commented on #106
If making a video is possible, that would be perfect for the site!

[2020-10-31 18:34] BOLT04 commented on #106
I only thought of some ideas 😅, like maybe show some of your youtube intros, then transition into showing PRs from the community, discussions, or really cool issues. Then maybe show the discord or EddieBotUI to show popular messages, and stuff that is shared on the community. Maybe a section with your live streams, for example the Github actions live stream with Brian, or the live stream where the

[2020-11-01 10:46] eddiejaoude commented on #106
I can create a video / gif, for now we could use a placeholder image, like the image we have on the side already

[2020-11-08 03:01] AllanRegush opened #115 "Motto Or Tagline Change"
Eddie had thought of "Opensource is in our DNA"  Should we change our Motto or Tagline?

[2020-11-08 11:15] eddiejaoude commented on #115
Thanks @AllanRegush 👍

[2020-11-09 21:12] BOLT04 commented on #115
I like that idea 😄!!
Maybe instead of "We believe Open Source is for everyone, yes you! OPEN SOURCE is NOT about code, it is about people and collaboration ", we can have "Opensource is in our DNA. We believe everyone can contribute to Open Source and collaborate with the community!"

[2020-11-13 10:46] frankiefab100 opened #116 "Bug - Community name and hero photo displaying something else"
When sharing the website link, it shows Steve's face and Amadine's name instead of the hero photo and our community name.

![Screenshot](https://user-images.githubusercontent.com/624760/99060240-a4cb2c00-2597-11eb-952d-7dcf3ff3e62a.png)

[2020-11-13 10:50] eddiejaoude commented on #116
Please add a description with an example, similar to the original Discussion https://github.com/EddieJaoudeCommunity/support/discussions/425

[2020-11-13 16:38] frankiefab100 commented on #116
@eddiejaoude I hope I got it right?🙂

[2020-11-13 16:51] eddiejaoude commented on #116
Look better, can you add the image too

You can use this

[code]

[2020-11-15 13:32] #105 closed

[2020-11-15 20:07] wbrijesh commented on #106
Hi, I would like to know if you have any suggestion before i submit a pr

[https://www.figma.com/file/MDLemXcqEIjllsl5E2Lrvo/Untitled?node-id=0%3A1](url)

<img width="931" alt="Screenshot 2020-11-16 at 1 28 15 AM" src="https://user-images.githubusercontent.com/28498071/99195510-3317fb80-27ac-11eb-8737-287cda032070.png">

[2020-11-15 20:12] wbrijesh commented on #106
I repeated the paragraph under 'we believe open source is for everyone' to fill little more space. I think there is room for improvement there in terms of length.

[2020-11-16 10:23] VictoryWekwa commented on #115
Hello, can i work on this issue please?

[2020-11-16 16:50] eddiejaoude commented on #115
Sure @VictoryWekwa 👍

[2020-11-16 21:27] BOLT04 commented on #106
Hi @wbrijesh 😃, first of all great work on your design. I really like your suggestion and I think you can start working on your PR 👍. With that said, here are my thoughts:
- Maybe adding a slight bottom border on the navigation bar, with a darker color, indicates a better separation of the sections. What do you think?
- I'm thinking if having less text on that CTA to join the community is better,

[2020-11-17 15:05] Vyvy-vi commented on #115
This is quite catchy though^

[2020-11-17 15:36] Vyvy-vi opened #118 "reroute `Join Us` button to issue-template(and edits in template)"
The current `Join Us` button links to the `support` repo [issue section]()
![Screenshot 2020-11-17 at 8 36 17 PM](https://user-images.githubusercontent.com/62864373/99406991-9886fc00-2914-11eb-9c59-c26f89ba3276.png)
Wouldn't it be better if we route people directly to ["Invite me to the organisation" issue](https://github.com/EddieJaoudeCommunity/support/issues/new?assignees=eddiejaoude%2C+mikeysa

[2020-11-17 18:36] eddiejaoude commented on #106
Looks great @wbrijesh 👍

[2020-11-17 18:57] eddiejaoude commented on #115
We could use both in different places - one at the top and one at the bottom of the page 🤓

[2020-11-17 18:58] eddiejaoude commented on #115
We can keep tweaking it 😄

[2020-11-17 19:27] BOLT04 commented on #115
I agree with @eddiejaoude on one on the top and one at the bottom of the page, since having a CTA on the top and the bottom is common (I think), so that text would go along that 👍

[2020-11-17 19:33] BOLT04 commented on #118
Greate idea @Vyvy-vi 👍 👍, changing the URL to the one you said is way better.

I support this 👍 since it would decrease the payload shown on the GitHub notification on the Discord channel 😅. My concern is that people creating the issue don't read it and just discard what is in the template. Currently, that gets added on the issue description so it doesn't go away, but let's hear more opinions of t

[2020-11-17 21:57] eddiejaoude commented on #118
Yes & Yes ❤️

[2020-11-18 11:25] Vyvy-vi commented on #118
(I'll have to have a look at the code to find out where this button is attached).
 The issue reformat has to be done in support repo or the community-gh-template repo?

[2020-11-21 13:23] BOLT04 commented on #118
@Vyvy-vi  the link for the button is here:
https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io/blob/51bff86a9b02f15b7ec8809985b9fc57ed57f196/src/App.svelte#L73

I believe the file to change is on the support repo here 😃 :
https://github.com/EddieJaoudeCommunity/support/blob/main/.github/ISSUE_TEMPLATE/invitation.md

[2020-11-21 13:35] Vyvy-vi commented on #118
Thanks 🙂

[2021-01-03 06:16] The-Phantom-666 commented on #115
What about "Open Source is the lifeblood of our community"

[2021-01-03 19:42] eddiejaoude commented on #115
btw I unassigned this issue as it was being blocked. I think we should update the website and keep tweaking it with new ideas in new issues

Thanks @The-Phantom-666 , not sure I like `lifeblood` though - I don't know why, just sounds a bit bad 🤷‍♂️

[2021-01-06 11:05] Vyvy-vi commented on #118
I think, that this issue could be closed 🤔
thoughts?

[2021-01-06 12:37] eddiejaoude commented on #118
Yes 👍 , looks like the PR was merged 🤓

[2021-01-06 12:37] #118 closed

[2021-01-10 05:55] Utkarsh299-tech opened #121 "Add our MLH guild EddieHub to our community website."
* Update the community website: *https://eddiejaoudecommunity.github.io/* to include our guild information.
* Make it easier for people to join our guild, with links and steps.
* Include as much information as possible.

[2021-01-15 14:32] eddiejaoude commented on #121
Doh I think we are a bit late for this. But we could still add it with links to the hashtag and score board

[2021-01-15 20:32] Utkarsh299-tech commented on #121
Hmm, it seems we should do it.

[2021-01-21 18:11] MehulKChaudhari commented on #115
I got this Idea "OpenSourse is the way of life"

[2021-01-21 18:24] dumbcoder7 commented on #115
~~This should be a discussion~~

[2021-01-21 18:47] Vyvy-vi commented on #115
I think there was a discussion opened for this 🤔

[2021-01-21 19:11] MehulKChaudhari commented on #115
oops, I wasn't meant to do that ??  @Vyvy-vi

[2021-01-28 09:58] eddiejaoude commented on #121
It was such an epic week, we should include it 👍

Also I have created a short community video for our website - I should have mentioned the hackathon 🤦‍♂️

[2021-01-28 20:50] eddiejaoude opened #124 "Meta data for website preview is incorrect"
Currently looks like

<img width="489" alt="Screenshot 2021-01-28 at 20 49 15" src="https://user-images.githubusercontent.com/624760/106197198-526ad600-61aa-11eb-971b-4b14b58b9656.png">

[2021-01-28 20:51] eddiejaoude opened #125 "Add our community video to our website"
https://www.youtube.com/watch?v=z-FKAC0I_VQ&feature=youtu.be

Ideas for the future
- get the community members in the video to say a few words
-

[2021-01-29 01:35] Prathamkrishna commented on #125
I'm not sure where you want to put the video exactly but I did find a spot, at the home page instead of the black background and the photo.

![Screenshot (275)](https://user-images.githubusercontent.com/34184758/106219672-e450fe00-61ff-11eb-9066-9ba7aa69ff35.png)

[2021-01-29 01:37] eddiejaoude commented on #125
@Prathamkrishna I think you are right, instead of the photo makes sense 👍

[2021-01-29 01:41] Prathamkrishna commented on #125
I think i'd like to take up on this issue

[2021-01-29 01:41] eddiejaoude commented on #125
Sure 👍 I have assigned it to you 🤓

[2021-01-29 02:18] Prathamkrishna commented on #125
Made a pull request :)

[2021-01-29 10:29] Prathamkrishna opened #128 "READ.me file"
i'm not sure but i think the read.me file has a screenshot of the home page of the website. Now that there is an update on the home page, is there a need to change the screenshot.

[2021-01-29 11:10] eddiejaoude commented on #128
I think it would make sense to update it 👍

[2021-01-29 22:46] Vyvy-vi commented on #124
linked to first-timers `discussion`- [support#425](https://github.com/EddieJaoudeCommunity/support/discussions/425)

[2021-01-30 17:38] AhmadsAxioms opened #130 "Missing a mod on the website"
Nicholas, one of the moderators of the discord community  is missing in the community website.
https://eddiejaoudecommunity.github.io/

[2021-01-30 17:40] ApolloDev0 opened #131 "Missing Another Mod on the website!"
Allan Regush, one of the discord moderators is missing on the community website.
https://eddiejaoudecommunity.github.io/

[2021-01-31 12:50] eddiejaoude commented on #115
Let's add value quickly by changing to the initial ones at the top of this issue that we agreed, then later it can be tweaked further

[2021-01-31 16:00] eddiejaoude commented on #131
Thanks for raising @ApolloDev0

[2021-01-31 16:00] eddiejaoude commented on #130
Thanks for raising @ApolloDev0

[2021-01-31 16:11] eddiejaoude commented on #124
Thank you 👍

[2021-01-31 16:27] ApolloDev0 commented on #130
your welcome :)

[2021-02-01 11:22] mdPial commented on #130
I would like to work on that 😃️

[2021-02-01 11:25] mdPial commented on #131
I would like to work on that 😃️

[2021-02-01 14:46] jai-dewani commented on #124
I wanna take this.
Which website was this tested on?

[2021-02-01 14:49] eddiejaoude commented on #124
Thanks @jai-dewani 👍

This repo and GitHub Pages https://eddiehubcommunity.github.io

[2021-02-01 15:04] Nitesh-thapliyal opened #132 "Typo in the portfolio"
![Screenshot (634)](https://user-images.githubusercontent.com/53345517/106476245-dc79ae00-64cc-11eb-83bc-5863e2e100ba.png)

[2021-02-01 15:05] jai-dewani commented on #116
Does this looks okay?
![image](https://user-images.githubusercontent.com/33520257/106476376-03d07b00-64cd-11eb-96cb-55973e34d9ae.png)

[2021-02-01 15:06] jai-dewani commented on #124
Does this look okay?

![image](https://user-images.githubusercontent.com/33520257/106476462-19de3b80-64cd-11eb-9867-9f478d2b76d5.png)

[2021-02-01 18:38] jai-dewani opened #135 "Automated tests are failing because of recent change in website URL"
Pull Request Automated tests seem to be failing because they are still trying to reach https://eddiejaoudecommunity.github.io/ which is now https://eddiehubcommunity.github.io/.

![image](https://user-images.githubusercontent.com/33520257/106502110-f4abf600-64e9-11eb-85b1-0e0dce90cb96.png)
This should be easily fixed by updating the URL stored in [.github/workflows/lighthouse-check.yml](https://gi

[2021-02-01 19:20] eddiejaoude commented on #135
Thank you for raising 👍

[2021-02-01 23:48] eddiejaoude commented on #124
Looks great, thank you 👍

[2021-02-01 23:48] #124 closed

[2021-02-01 23:49] #116 closed

[2021-02-02 06:50] Nitesh-thapliyal commented on #135
PR is comming🙌

[2021-02-02 10:27] #132 closed

[2021-02-02 10:27] #135 closed

[2021-02-02 10:39] eddiejaoude opened #138 "Failing UI tests"
Update Cypress Cucumber tests for the rename from `Eddie Jaoude` to `EddieHub`

https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/blob/develop/cypress/integration/homepage.feature

[2021-02-02 11:21] jai-dewani commented on #138
I am on it! 👀

[2021-02-02 12:10] eddiejaoude commented on #138
Thanks 👍

[2021-02-02 12:49] jai-dewani commented on #138
After fixing the issue, I was trying to run the tests locally before pushing the code. And it turns out that the tests are still failing because the data in [EddieHubCommunity.github.io/src/data.js](https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/blob/develop/src/data.js) also needs to be updated in light of the recent change in name of the GitHub community.

Going to create a new

[2021-02-02 12:58] eddiejaoude commented on #138
ok, thanks 👍

[2021-02-02 13:17] jai-dewani opened #139 "Links to GitHub Organization and Repositories need update"
All the GitHub links stored in [EddieHubCommunity.github.io/src/data.js](https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/blob/develop/src/data.js) are obsolete and will now have to be updated as the community name got changed recently.

Links to all the projects
https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/blob/94de45ad97fc6469a3c5536aff7aace12d9f4263/src/data.

[2021-02-02 13:50] deephunt3r commented on #139
The github icon which is referring to the link https://github.com/EddieJaoudeCommunity  in the website was broken.Please update the link in the website https://eddiehubcommunity.github.io/

[2021-02-02 14:26] eddiejaoude commented on #138
Thanks @jai-dewani . In your PRs can you have `fixes #123` at the top of the description and without the word `issue` in-between so that GitHub can auto close the PR

[2021-02-02 14:26] #138 closed

[2021-02-02 14:36] #139 closed

[2021-02-02 14:43] eddiejaoude opened #142 "Search and replace for old org name to the new one"
Search and replace

[code]

and

[code]

[2021-02-02 15:08] #142 closed

[2021-02-03 16:55] jai-dewani commented on #131
I guess we will need information like `description`, `website`, `imageSrc`, `GitHub username` and `badges` to add him to `data.js`

[2021-02-06 10:18] eddiejaoude opened #146 "linkedin website preview not working"
[code]

https://www.linkedin.com/help/linkedin/answer/46687/making-your-website-shareable-on-linkedin?lang=en

<img width="519" alt="Screenshot 2021-02-06 at 10 16 09" src="https://user-images.githubusercontent.com/624760/107115416-7bebc780-6864-11eb-8f5e-6fa0f0bd93fa.png">

[2021-02-06 10:39] eddiejaoude commented on #131
yep 👍 this is their GitHub profile to find out more @AllanRegush

[2021-02-25 11:54] vinzvinci opened #148 "Update "Our Moderators" section"
I see @Vyvy-vi is now moderator. Maybe it's time to put @Vyvy-vi in the red spot?

![mod](https://user-images.githubusercontent.com/73097560/109149804-0445f400-77a3-11eb-92f5-d25c5f3cd667.png)

[2021-02-25 18:23] muthuannamalai12 opened #150 "Update Community.yml"
I will update the issue-message, Pr-Message with new ones, and add a footer in Community.yml

[2021-03-02 13:38] eddiejaoude commented on #148
Yep we have a few mods missing from the website 😢

[2021-03-02 14:16] #150 closed

[2021-03-02 14:26] Vyvy-vi commented on #148
Allan Regush and Nicholas need to be added first 🤓

[2021-03-04 10:19] patel-himanshu commented on #128
@eddiejaoude, can I take up this issue?

[2021-03-04 10:25] Vyvy-vi commented on #128
Go on-! : )

[2021-03-04 14:25] #131 closed

[2021-03-04 19:09] jai-dewani commented on #148
I think Allan has been added, next are Nicholas and Vyvy-vi 🥳

[2021-03-04 19:17] jai-dewani commented on #146
I checked on both Twitter and linkedin, the text seems to be working fine. It's the image linking that needs to be worked on
Twitter
![image](https://user-images.githubusercontent.com/33520257/110017535-557a5880-7d4c-11eb-99ec-76ca392ef2a9.png)

LinkedIn
![image](https://user-images.githubusercontent.com/33520257/110017577-5dd29380-7d4c-11eb-9d85-872b65206fab.png)

[2021-03-04 19:24] jai-dewani commented on #146
Seems like the `og:image` does not support SVG format so we might have to store a png format of hero.svg image currently used with meta tags

Reference - https://indieweb.org/The-Open-Graph-protocol#Does_not_support_SVG_images

[2021-03-04 19:29] jai-dewani commented on #125
Since the community video has been added, this issue can be closed or any further work is required on this issue?

[2021-03-05 03:42] vinzvinci commented on #148
Cool, thank you.

[2021-03-12 10:33] eddiejaoude commented on #146
oh good spot, thank you @jai-dewani 👍

[2021-03-12 10:36] eddiejaoude commented on #146
I have updated it to a `png` image, hopefully now it is better? https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/blob/main/public/index.html

[2021-03-12 10:37] eddiejaoude commented on #125
Thanks @jai-dewani , you are right, lets close. Any future work can have a new issue

[2021-03-12 10:37] #125 closed

[2021-03-12 12:23] jai-dewani commented on #146
It's working!!!
Time to close another issue 😌

### Twitter
![image](https://user-images.githubusercontent.com/33520257/110939548-99c4b480-835b-11eb-93ac-62c71f9c3450.png)
### LinkedIn
![image](https://user-images.githubusercontent.com/33520257/110939577-a517e000-835b-11eb-92fe-12aee269e9c6.png)

[2021-03-12 12:24] eddiejaoude commented on #146
Thanks @jai-dewani

[2021-03-12 12:24] #146 closed

[2021-03-18 09:29] jai-dewani opened #155 "Reduce the size of images used in website"
### The Lighthouse test of the website is around 50 for mobile and about 75 in desktop, mobile side definitely need some improvement
![image](https://user-images.githubusercontent.com/33520257/111602495-653c7700-87f9-11eb-9513-bd3c1af6f42e.png)

### The main cause in mobile seems to be that the website loads about 4.5MB of data out of which 4MB seems to be just images which aren't event used in th

[2021-03-18 09:33] jai-dewani opened #156 "Remove EddieBotMap from the website"
### We still have a project on the website pointing to a link that doesn't exists
This can be replaced with some other project, say........[gh-action-community](https://github.com/EddieHubCommunity/gh-action-community)

![image](https://user-images.githubusercontent.com/33520257/111603704-a1240c00-87fa-11eb-8120-b7703ee6ff02.png)

[2021-03-18 13:30] SamDev98 commented on #155
Will using imgbot be enough? Or a good start? (In case we don't already have one here)

[2021-03-18 14:18] jai-dewani commented on #155
Yes, imgbot is a good start but the problem with that is most of the heavy images aren't in this repo locally which is a must for utilising imgbot efficiently.

I guess we can start with that task first and then move forward with imgbot.

What's your view on this @EddieHubCommunity/coreteam?

[2021-03-19 12:32] Skyhero-admin commented on #115
Is this discussion still open?
If it is then can we keep it what Eddie always says "Collaboration is First and Code is Second "

[2021-03-19 13:42] pvcodes commented on #156
Hi, I would love to care of this. Should I start?   If yes, please provide me the [https://github.com/EddieHubCommunity/gh-action-community](gh-action-community)'s image and content of the description

[2021-03-19 13:46] pvcodes commented on #156
Also, correct me if my comment seems to mean, this stuff is new to me.

[2021-03-19 14:30] jai-dewani commented on #156
Description: GitHub Action for the Community, from welcoming first timers to badges (Just for the time being, maybe we will have another issue to update this if needed)

Image: For now take a screenshot of the repository as an image, something like this
![image](https://user-images.githubusercontent.com/33520257/111795731-79fa3700-88ed-11eb-88ef-c54545a45b9f.png)

### PS: In Light mode, not dark.

[2021-03-19 14:36] pvcodes commented on #156
So should I proceed. And to be on the safe side. Steps would be:
1. Fork the repo
2. Make a new branch
3. Edit the code
4. Apply for PR

[2021-03-19 15:01] jai-dewani commented on #156
Yep, those are the right steps I belive 👍

[2021-03-19 15:12] pvcodes commented on #156
Where should I save the image. Maybe here [https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/tree/main/public/img](url)

[2021-03-19 15:29] pvcodes commented on #156
![Screenshot from 2021-03-19 20-41-09](https://user-images.githubusercontent.com/54075838/111803731-576c1c00-88f5-11eb-87df-6afa73ae917f.png)

[2021-03-19 15:31] pvcodes commented on #156
I google that stuff, that's fine

[2021-03-19 15:46] pvcodes commented on #156
Hi @jai-dewani, It's done have a look. And if it is fine give me a thumbs up for the next step i.e., PR

![Screenshot from 2021-03-19 21-14-04](https://user-images.githubusercontent.com/54075838/111806610-2b9e6580-88f8-11eb-97ed-501c18391e36.png)
`
  {
    name: 'GitHub Action Community',
    imageSrc: 'https://user-images.githubusercontent.com/54075838/111803731-576c1c00-88f5-11eb-87df-6afa73ae91

[2021-03-19 16:31] pvcodes commented on #148
Hi, give the required info for Nicholas and Vyvy-vi for the moderator section.

[2021-03-19 18:10] adityaraute commented on #115
Love this one

[2021-03-20 02:56] rohank2502 commented on #130
Hey As this is good first issue I will like to help in this !! please let me know how to approach

[2021-03-20 11:46] pvcodes commented on #156
@jai-dewani hi, I'm waiting!

[2021-03-20 11:54] pvcodes commented on #148
Hi, @eddiejaoude , please provide the content

[2021-03-20 21:48] eddiejaoude commented on #148
@pvcodes  You can get the information from @nhcarrigan  GitHub profile page http://github.com/nhcarrigan

[2021-03-20 21:49] #128 closed

[2021-03-21 03:11] pvcodes commented on #148
@eddiejaoude That's good, can you please assign me this issue

[2021-03-22 09:46] rohank2502 opened #158 "Add new img"
Will  like to add img collaboration first code section below that white box in website

[2021-03-22 09:52] rohank2502 commented on #158
![Clean Work Place LinkedIn Banner](https://user-images.githubusercontent.com/76584243/111971513-6edc1c80-8b22-11eb-83df-277a0a8f4fd8.png)

[2021-03-23 12:13] Vyvy-vi commented on #115
Or one up - We can have the motto on the site change :wink:

[2021-03-23 12:14] Vyvy-vi commented on #148
More info can be found on Nick's site-  https://www.nhcarrigan.com/

[2021-03-23 13:45] pvcodes commented on #158
@rohank2502
![Screenshot from 2021-03-23 19-14-33](https://user-images.githubusercontent.com/54075838/112156249-12552c00-8c0c-11eb-8f17-02f1b9f6e2b1.png)

[2021-03-23 13:45] pvcodes commented on #158
Have a Look

[2021-03-23 13:48] rohank2502 commented on #158
I think it should have size of that white box but first we need approval from @eddiejaoude

[2021-03-23 13:50] pvcodes commented on #158
Certainly

[2021-03-23 21:37] BOLT04 commented on #115
@Skyhero-admin that is a good idea too 👍. I think the PR that gets opened first might be the merged one, since it already adds value 😄

[2021-03-23 21:51] BOLT04 commented on #155
@jai-dewani thank you for opening this issue 👍. From #98 I guess some metrics have worsened.

I agree on improving and reading that list

[2021-03-24 05:33] divyakumari12 commented on #115
This tagline is looking good "Opensource is in our DNA" .
It's perfect.😃

[2021-03-24 05:34] divyakumari12 commented on #30
Yeah ,That would be a great help for newbies like me.

[2021-03-24 06:32] Vyvy-vi commented on #30
Maybe we can use a GitHub action that keeps track of Eddie's YouTube rss feed, and embeds the link in the site?

[2021-03-24 06:38] Vyvy-vi commented on #158
Maybe open a PR? That way, maintainers can have a bit of back and forth, before Eddie sees it. That way we can rule out any issues.

Moreover, thanks for the art. You could maybe add this in https://github.com/EddieHubCommunity/Branding ?

In the current site's context, I'm not sure about the colour scheme.

Also, is this an image element or an frontend element?

[2021-03-24 09:11] rohank2502 commented on #158
This is png element

[2021-03-27 17:38] BrendaMichellle opened #160 "Add Navbar and extra white space between sections"
I was thinking it would be a good idea to add a navbar to the website so it is easier to use and navigate.
Visitors would be able to click and go to the section they are looking for.

Also if we add some extra white space between the sections it could help to clearly define each section.

I could take up the issue or is someone else is interested. 🙂

[2021-03-29 03:32] vikasganiga05 commented on #130
The website URL is changed to https://eddiehubcommunity.github.io/

[2021-03-29 03:37] vikasganiga05 commented on #130
Hi, I like to work on this issue.

[2021-04-06 19:41] DevCassie commented on #99
I do agree that this sounds 👍

[2021-04-06 19:49] DevCassie commented on #160
I agree with the navbar with Brenda 👍 . A navigation bar would make the website easier to use and navigate to.

Not too sure about more whitespace for the different sections. For me, it's obvious that the sections are apart.
I do however suggest some more whitespace here:
![image](https://user-images.githubusercontent.com/19227530/113769905-cd5bea00-9721-11eb-857e-8a5764f07f17.png)

[2021-04-07 20:21] eddiejaoude commented on #156
Hi @pvcodes , apologies for the slow reply, please be patient with the community, we do this in addition to our day jobs and family.

Did you mean to close your PR #157 ?

[2021-04-07 21:53] eddiejaoude commented on #155
Thanks all 👍 , maybe the images should be moved into the repo - I dot like binaries in the repo but they won't change too often to be an issue

[2021-04-07 21:55] eddiejaoude commented on #115
Lets do it 👍

@Vyvy-vi idea of having it change is a great idea too - but this can come later

[2021-04-08 06:21] eddiejaoude commented on #158
I agree with @Vyvy-vi , can this be added to the `community` section in the `Branding` repo

[2021-04-08 14:02] adityaraute commented on #115
So which one then? let's decide. This issue been here for 5 months now lol

[2021-04-10 21:20] eddiejaoude commented on #130
Thanks all, looks like there are still mods missing. Please go ahead and add missing mods 👍

[2021-04-14 06:16] schmelto opened #162 "Create a release"
Maybe it would look good if we publish a release of the website

[2021-04-14 06:29] #158 closed

[2021-04-16 05:49] kaiwalyakoparkar commented on #160
@BrendaMichellle That is a good idea. Do you have any design in mind :question:

[2021-04-16 05:55] kaiwalyakoparkar commented on #3
@eddiejaoude This is a great idea!

[2021-04-16 08:23] DevCassie commented on #160
Wasn't someone slowly re-designing the website? I'm not sure if that's still going on. But perhaps that could be implemented with more whitespace for the sections?

[2021-04-24 15:56] eddiejaoude opened #163 "fix discord links"
to http://discord.eddiehub.org

[2021-04-24 16:02] #163 closed

[2021-04-25 09:03] schmelto commented on #163
should we update other discord links to http://discord.eddiehub.org as well?

[2021-04-25 14:57] eddiejaoude commented on #163
yes please @schmelto 👍

[2021-04-30 08:03] #162 closed

[2021-05-02 14:20] Skyhero-admin opened #164 "Add eddiehub newsletter subscription link to the community website"
It's just a suggestion but i think adding the link to the newsletter subscription to the main community website seems like a good idea

[2021-05-02 22:44] Evavic44 commented on #3
Good idea

This is a great idea. What is the status on this?

[2021-05-02 23:17] Evavic44 opened #165 "Update Favicon on EddieHub Community Website"
`EddieHubCommunity` website still uses the old logo and I think it needs to be updated
<br/>
![update-eddiehub-favicon](https://user-images.githubusercontent.com/62628408/116830965-acfa4080-aba4-11eb-833f-5dd56ac32f3b.png)
 to the new logo 👉🏾 <img src="https://user-images.githubusercontent.com/62628408/116830606-5e987200-aba3-11eb-8835-6ce305996571.png" width="50px" height="50px">

[2021-05-03 08:58] eddiejaoude commented on #3
Thanks all for your support 👍 . Yes lets do this 💪 I think we need to have about 10 people though

[2021-05-03 09:13] kaiwalyakoparkar commented on #3
I am ready! Let's discuss it

[2021-05-03 09:35] muthuannamalai12 commented on #3
I am also ready for it

[2021-05-03 11:03] Evavic44 commented on #3
Me too.

[2021-05-03 12:55] kaiwalyakoparkar commented on #3
@eddiejaoude I think you will surely get 10+ in this discussion itself

[2021-05-04 06:37] yashsehgal commented on #165
Hey, Is this issue still open to grab? I would like to work on this one.

[2021-05-04 10:23] schmelto commented on #165
I would say yes. Don't see any pr for this so I suggest you can give it a go 🚀

[2021-05-04 11:52] yashsehgal commented on #165
Alright @schmelto, I will add the new logo as soon as I get free 👍🏽

[2021-05-04 20:26] eddiejaoude commented on #115
We could have it change randomly for each refresh 🤔

[2021-05-05 16:01] schmelto commented on #165
there is a branding repo for that https://github.com/EddieHubCommunity/Branding

[2021-05-05 17:37] yashsehgal commented on #165
My bad, I was not able to contribute. By the way, Nice work @Evavic44

[2021-05-05 17:47] schmelto commented on #165
@yashsehgal maybe you can take a look at the EddieBot (https://github.com/EddieHubCommunity/EddieBotUI/blob/develop/public/eddie-jaoude.png) in here the old Logo is visible. But ifk if this will be intended to change. But probably you can raising an issue for this one there and open a PR 😃

[2021-05-06 02:13] AllanRegush opened #167 "Low Performance on LightHouse Benchmark"
Desktop:
Score of 41
![desktop_eddiehub](https://user-images.githubusercontent.com/17693494/117232376-3ba5d200-adde-11eb-8a96-0df1556c8789.png)
Mobile:
Score of 58
![mobile_eddiehub](https://user-images.githubusercontent.com/17693494/117232381-3ea0c280-adde-11eb-89f4-c6a4f0744c20.png)

[2021-05-06 03:41] Evavic44 commented on #165
Thank you man.

[2021-05-08 22:36] eddiejaoude commented on #160
@SaraJaoude is now helping out with EddieHub, so we will take the website into our "low code" platform we are using - this way Sara can keep it up to date and events, calls etc

Please can still give ideas and feedback on the design 🤓 . But I will close this for now

[2021-05-08 22:36] #160 closed

[2021-05-09 03:38] kaiwalyakoparkar commented on #160
@eddiejaoude No worries. :smiley:

[2021-05-09 05:07] schmelto commented on #160
Yes low code 🚀 @eddiejaoude maybe you can make a video about this cause low code is a topic I would be really interested in 🤔

[2021-05-09 05:10] kaiwalyakoparkar commented on #160
@schmelto True. I didn't even know what this means :sweat_smile:

[2021-05-09 07:34] eddiejaoude commented on #160
Sure a video is a great idea 👍  it is actually on my list

<img width="376" alt="Screenshot 2021-05-09 at 08 33 59" src="https://user-images.githubusercontent.com/624760/117563966-56f43400-b0a1-11eb-9b8f-5872887fe3af.png">

[2021-05-13 18:32] verma-kunal opened #169 "Update link to home-page in EDDIEHUB text logo"
When on the Newsletter or the Blogs page, the **`EDDIEHUB`** text logo is not clickable.
Adding the link to the `Homepage` i.e `https://www.eddiehub.org/` in that would make it much convenient for navigation!!

Logo Image:
![Screenshot 2021-05-14 at 12 00 35 AM](https://user-images.githubusercontent.com/72245772/118170167-6aa7ed80-b447-11eb-93b2-4a972c6e2998.png)

[2021-05-13 18:49] schmelto opened #170 "some minor tweaks for eddiehub.org"
* don't autoplay the first video
* paddings and margins in modarator view are little bit off seeing in this screenshot
![image](https://user-images.githubusercontent.com/30869493/118172316-80f48000-b42c-11eb-83b0-948f39988ba0.png)
* personally I would preffere if the icons would be green like done
![image](https://user-images.githubusercontent.com/30869493/118172397-9b2e5e00-b42c-11eb-803b-5dea8c0

[2021-05-13 18:50] schmelto commented on #165
Think this is done now
![image](https://user-images.githubusercontent.com/30869493/118172593-d92b8200-b42c-11eb-912b-fbfb8741ae0d.png)

[2021-05-13 18:53] eddiejaoude commented on #7
FAQ now on new website

[2021-05-13 18:53] #7 closed

[2021-05-13 20:56] #165 closed

[2021-05-14 02:03] Skyhero-admin commented on #164
I think this issue is fixed in the new site ,
So I am closing this issue.

[2021-05-14 02:03] #164 closed

[2021-05-14 08:53] Vyvy-vi opened #171 "Some Feedback on eddiehub.org@v2"
The new site looks really great! I have some feedback about the site, which might help us in improving the site-

## No Mention of Livestreams, Reviews etc.
Maybe there can be a mention of community livestreams that are Eddie holds on the youtube channel.

## Metadata from meta tags
Many of the meta tags on the site are currently empty, but if we fill them in, the embeds generated by twitter/disco

[2021-05-14 12:51] namangupta1399 opened #173 "Minor changes for new website"
![image](https://user-images.githubusercontent.com/53571307/118272727-aa6ee380-b4e0-11eb-8e5f-6ffff3ee74c6.png)
- Change the color of favicons to white
- Add a **go to top** button

[2021-05-14 13:18] Liri-s29 commented on #173
@namangupta1399 Can I work on this issue?

[2021-05-14 13:28] namangupta1399 commented on #173
@Liri-s29 , I don't think that the code for new website is public right now. We should wait I guess 😅

[2021-05-14 13:37] Liri-s29 commented on #173
Yeah @namangupta1399, I was also looking for the repo.

[2021-05-19 19:23] eddiejaoude commented on #10
Thank you! New website is now live, I will close this issue, any suggestions can come in a new issue

[2021-05-19 19:23] #10 closed

[2021-05-19 19:24] eddiejaoude commented on #47
Thank you! New website is now live, I will close this issue, any suggestions can come in a new issue

[2021-05-19 19:24] #47 closed

[2021-05-19 19:24] eddiejaoude commented on #50
I think this issue is now solved? I will close it. Feel free to create a new issue if needed

[2021-05-19 19:24] #50 closed

[2021-05-19 19:25] eddiejaoude commented on #54
Thank you! New website is now live, I will close this issue, any suggestions can come in a new issue

[2021-05-19 19:25] #54 closed

[2021-05-19 19:31] eddiejaoude commented on #67
New website is now live, I will close this issue, any suggestions can come in a new issue

[2021-05-19 19:31] #67 closed

[2021-05-19 19:33] eddiejaoude commented on #109
New website is now live, I will close this issue, any suggestions can come in a new issue

[2021-05-19 19:33] #109 closed

[2021-05-19 19:33] eddiejaoude commented on #148
Thank you! New website is now live, I will close this issue, any suggestions can come in a new issue

[2021-05-19 19:33] #148 closed

[2021-05-19 19:36] SaraJaoude commented on #169
Thank you for this issue.  It has now been resolved.

[2021-05-19 19:36] #169 closed

[2021-05-19 19:36] eddiejaoude commented on #69
Thank you! New website is now live, I will close this issue, any suggestions can come in a new issue

[2021-05-19 19:36] #69 closed

[2021-05-19 19:36] eddiejaoude commented on #110
New website is now live, I will close this issue, any suggestions can come in a new issue

[2021-05-19 19:36] #110 closed

[2021-05-19 19:36] eddiejaoude commented on #106
Thank you all for the great work! New website is now live (using a template), I will close this issue, any suggestions can come in a new issue

[2021-05-19 19:36] #106 closed

[2021-05-19 19:49] SaraJaoude opened #174 "Project list on website"
from https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/issues/170

[2021-05-19 19:50] SaraJaoude commented on #170
Thanks for the feedback, this has been done.

I have checked on Chrome and Safari and these seem fine.  Would you mind sharing what browser and version you saw this on as a new issue?

Thanks - I have used the website's green.

Great idea. I have raised this as a new issue: https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/issues/174

[2021-05-19 19:50] eddiejaoude commented on #155
Thank you! New website is now live, I will close this issue, any suggestions can come in a new issue

[2021-05-19 19:50] #155 closed

[2021-05-19 19:50] eddiejaoude commented on #130
Thank you! New website is now live, I will close this issue, any suggestions can come in a new issue

[2021-05-19 19:50] #130 closed

[2021-05-19 20:06] eddiejaoude commented on #156
Thank you! New website is now live, I will close this issue, any suggestions can come in a new issue

[2021-05-19 20:06] #156 closed

[2021-05-19 20:16] SaraJaoude opened #175 "Community live streams schedule for website"
From https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/issues/171

From https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/issues/173

[2021-05-19 20:21] SaraJaoude commented on #171
Thanks for this.  I have raised this as a new issue: https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/issues/175

Thanks for the suggestions, I have done this.

I have checked with Eddie and he likes the visual representation of the stars.

I am looking to see if the button can be amended to reflect the text you suggest.

Thanks, done.

We have tried this a few times and have not m

[2021-05-19 20:21] #171 closed

[2021-05-19 20:21] schmelto commented on #170
I use Microsoft Edge Version 90.0.818.62 (Official build) (64-bit) with chromium base

[2021-05-19 20:32] eddiejaoude commented on #173
@Liri-s29 @namangupta1399 the website is being done in a low-code solution, so unfortunately the source code will be contained within that platform

[2021-05-19 20:33] SaraJaoude commented on #173
Thanks for raising this, it will be dealt with as part of the issue: https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/issues/175

Thanks for the suggestion.  We will add this when the page gets longer.

[2021-05-19 20:33] #173 closed

[2021-05-19 20:41] SaraJaoude commented on #30
We now have a new website, which also refers to the Newsletter and Blog and this will hopefully let any newcomers know more about what type of community this is.

The schedule of live streams and calls is also going to be addressed in this issue: https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/issues/174

If I missed anything can you raise a new issue please.

[2021-05-19 20:41] #30 closed

[2021-05-19 20:45] Vyvy-vi commented on #171
I'm using `Brave Version 1.22.71 with Chromium: 89.0.4389.114 (Official Build) (x86_64)`
I'll open a new issue for this :+1:

[2021-05-20 11:35] #175 closed

[2021-05-20 11:37] SaraJaoude commented on #171
Thanks!

Also on:

Have managed to change the button as you suggested.

[2021-05-20 12:14] schmelto opened #176 "Overflow issue on testamonials"
![Screenshot_20210520_141351.jpg](https://user-images.githubusercontent.com/30869493/118976775-ae35b680-b975-11eb-917e-357e166cab37.jpg)

Mobile view

[2021-05-21 04:57] verma-kunal opened #177 "Shout-Out to folks organising the Public Speaking Sessions"
It would be great if we give shout-outs in the **Public Speaking section** to folks who are helping/organising these sessions every week on **RadioEddie**

Some names are as below:
- @kaiwalyakoparkar for hosting the call
- @verma-kunal for co-hosting
- @starlightknown and @Vyvy-vi for being present and also moderating the call

[2021-05-21 13:55] SaraJaoude commented on #177
This has been done and will be reflected on the website shortly.

[2021-05-21 13:55] #177 closed

[2021-05-21 14:43] schmelto commented on #177
@SaraJaoude rocks the eddiehub website 💪🏼🚀

[2021-05-21 15:02] kaiwalyakoparkar commented on #177
That's true :100:

[2021-05-21 15:49] SaraJaoude commented on #177
Thanks @schmelto and @kaiwalyakoparkar ! Still trying to learn and making a lot of mistakes- I have only ever been a lawyer up to a month ago! :)

[2021-05-21 15:55] starlightknown commented on #177
wow that is amazing multitasking and great speed of learning. Thank you for making such a great site in short time 🚀

[2021-05-21 16:51] kaiwalyakoparkar commented on #177
@SaraJaoude You are doing great. That is really cool! :sunglasses: .

[2021-05-27 08:17] Akshu-on-github opened #178 "[Doc] Frequently Asked Questions"
## Points to improve on
Taking the last answer as an example,
[code]
- Grammatical Errors (eg: `can't I not` - double negatives, doesn't match the answer)
- Non-inclusive language (eg: `we encourage only our regular community` - implies that we hold a bias against newcomers)
- Short term fixes ignored (eg: `Gists` and `Discussions` allow newcomers to share links)

## Suggested fixes

- [ ] Fix gra

[2021-05-27 10:31] SaraJaoude commented on #178
Grammatical error fixed

[2021-05-30 11:58] AnirudhPanda opened #179 "Button to link to top of the page must be added for better UX"

[2021-05-30 11:59] AnirudhPanda opened #180 "[ SEO ] Sitemap absent on the website"

[2021-05-31 06:47] schmelto commented on #180
Could you add some more information about this topic?

[2021-05-31 07:58] AnirudhPanda commented on #180
A **sitemap** is a blueprint of your website that helps search engines find, crawl, and index all of your website's content.
After a sitemap.xml is generated it is added to the root folder of the website and then indexed in the google search console(require admin access by putting a line of code in head tag in HTML)

[2021-06-01 19:50] schmelto opened #181 "Space issue"
![Screenshot_20210601_214926.jpg](https://user-images.githubusercontent.com/30869493/120381927-56a72b80-c323-11eb-923b-c5fb1f362721.jpg)

Here are two spaces

[2021-06-01 19:51] schmelto opened #182 "Link doesn't work"
![Screenshot_20210601_215056.jpg](https://user-images.githubusercontent.com/30869493/120382033-78a0ae00-c323-11eb-8b7d-0cb2e8a17150.jpg)

Should be https I think

[2021-06-01 20:51] SaraJaoude commented on #181
All done! Thanks for spotting.  I am so used to using two spaces for legal drafting :)

[2021-06-01 20:51] #181 closed

[2021-06-01 20:53] eddiejaoude commented on #182
hey @schmelto thanks for raising. Can you clarify where this screenshot was taken from, could you take it of the whole page? Because where I thought it was taken from, the link works for me

[2021-06-01 22:33] schmelto commented on #182
It was on the main screen of the repo but I think it's a issue with my browser. It makes a https link out of it. Don't know exactly why...
So on my laptop link works on my phone not cause of the browser issue appending http to https..

[2021-06-01 22:34] #182 closed

[2021-06-02 17:02] Mispha opened #183 "Requested invite to the EddieHubCommunity"

[2021-06-03 08:42] eddiejaoude commented on #183
To join the EddieHub Community, you need to create an issue on the `support` repo. Here is a blog post on the full details https://www.eddiejaoude.io/blog-may-2021-joining-eddiehub

Looking forward to having you in EddieHub 💥

[2021-06-03 08:42] #183 closed

[2021-06-03 08:43] eddiejaoude commented on #176
Thank you 👍 , this could be a tricky one to fix, but we can try 🤓

[2021-06-03 08:44] eddiejaoude commented on #180
The EddieHub website is only 1 page, not sure a site map is needed?

[2021-06-03 09:32] AnirudhPanda commented on #180
It's fairly important to have a sitemap for optimization. it is easier for bots or crawlers to read web page data in a more efficient way. The ranking is already comprised because of the use of more images, text, page sections

[2021-06-03 15:00] being-vishal commented on #121
The website you mentioned doesn't exist.

[2021-06-04 17:00] WebShivam commented on #3
yeah I'm ready too Let's do this

[2021-06-04 17:02] WebShivam opened #184 "Moderators div are not aligned properly"
Here is the screenshot 👇
![eddie-mod-section](https://user-images.githubusercontent.com/64413107/120836511-455c5a00-c583-11eb-8b14-89b87f8a8bea.jpg)

[2021-06-06 14:37] Utkarsh299-tech commented on #121
Thanks for mentioning that @being-vishal ! I updated the new link, since the website has now moved to this link.

[2021-06-06 14:49] Utkarsh299-tech opened #186 "Code of Conduct link not found"
The **Code of Conduct** link in README.md file is not found. It's giving error 404.

Link to the repository: https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/blob/main/README.md

Screenshot:
![Screenshot (181)](https://user-images.githubusercontent.com/60184229/120928931-600a0c80-c704-11eb-90cf-0fcb2d7ae284.png)

[2021-06-06 14:56] starlightknown commented on #186
There is no code of conduct in files, maybe another issue can be opened for it

[2021-06-06 14:57] starlightknown opened #187 "Add Code of conduct"
There is no code of conduct in the repo but a link is present which gives 404, ref #186

[2021-06-09 09:12] being-vishal commented on #121
anytime :) and also thank you for updating the link

[2021-06-13 17:51] Vyvy-vi commented on #187
Maybe this would be a good time for us to consider community health files in a `.github` repo?
(https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/creating-a-default-community-health-file)

[2021-06-17 22:41] eddiejaoude commented on #167
Is this still relevant? Now we are using low code solution Kartra, I am not sure how much control we have with improving its score

[2021-06-19 09:23] Vyvy-vi commented on #167
![Screenshot 2021-06-19 at 2 53 00 PM](https://user-images.githubusercontent.com/62864373/122637772-1232d280-d10e-11eb-811c-38889d1934b6.png)
The current metrics are relatively okay

[2021-06-23 20:50] eddiejaoude commented on #164
Thank you 👍

[2021-06-26 13:03] importhuman opened #189 "EddieHub blog tutorial link broken"
[This blog post on getting started](https://www.eddiejaoude.io/blog-may-2021-joining-eddiehub) is mentioned on the homepage, but is broken due to a typo.

Edit: https://www.eddiejaoude.io/blog-may-2021-joining-eddihub needs to be replaced with https://www.eddiejaoude.io/blog-may-2021-joining-eddiehub

[2021-06-26 13:10] schmelto commented on #189
Due the website is moved to a low code platform I think only @SaraJaoude can do this :)

[2021-06-26 13:11] importhuman commented on #189
@schmelto I realized later that it's been moved. Thanks!

[2021-06-26 17:27] eddiejaoude commented on #189
Oh thank you for logging the bug 👍 we will look at it now

[2021-06-26 17:28] eddiejaoude commented on #189
We checked and it seems to work, is it the link at the top of the page? https://www.eddiejaoude.io/blogs

[2021-06-26 17:33] eddiejaoude commented on #189
Oh you are right, thank you for logging 👍

<img width="1565" alt="Screenshot 2021-06-26 at 18 32 36" src="https://user-images.githubusercontent.com/624760/123521169-fd75b200-d6ac-11eb-967c-275c0745e553.png">

[2021-06-26 17:44] eddiejaoude commented on #189
Should be fixed now. Thank you again for letting us know 🤓

[2021-06-26 17:44] #189 closed

[2021-06-26 21:34] eddiejaoude commented on #170
Thank you @schmelto

[2021-07-03 00:12] eddiejaoude commented on #180
I think it will be a sad and lonely site map though, would it not be like this

[code]

Or do you mean it is important to have the file?

[2021-07-03 11:53] AnirudhPanda commented on #180
Good to have! Not a major issue though

[2021-07-03 12:10] eddiejaoude commented on #180
Ah ok, if it is good to have, even if a small entry, lets do it 👍

[2021-07-03 20:17] being-vishal commented on #179
I can work on this issue. I have Button to link to top of the page on my [portfolio website]( https://being-vishal.github.io/vishals-website/ ) . You check it out and please assign the issue to me.

[2021-07-04 10:20] schmelto commented on #179
Sorry but I think due the website is moved to a low code platform only the maintainers like @SaraJaoude can work on this issue

[2021-07-04 14:24] being-vishal commented on #179
ohh okay no problem.

[2021-07-07 05:23] RAHUL-KAD opened #191 "Invite me to the organization"
Hey looking forward to be part of your community.

[2021-07-07 06:41] schmelto commented on #191
Hey @RAHUL-KAD  you can create an issue in the support repo for that

[2021-07-21 07:53] schmelto opened #192 "Issue with padding for yt video on mobile"
![Screenshot_20210721_095237_com.android.chrome.jpg](https://user-images.githubusercontent.com/30869493/126452288-575eb89a-390a-4a28-acf8-a4714420c7b1.jpg)

[2021-07-21 09:37] adityaraute commented on #192
Yeah the left margin/padding needs to be adjusted for mobile view.

[2021-07-21 09:37] adityaraute commented on #191
@RAHUL-KAD What's the update here?

[2021-07-21 09:39] adityaraute commented on #184
Because Alexander's name is on two lines. Something surely needs to be done. But that will increase the height of all cards in the second row, so inconsistencies galore.

[2021-07-21 09:47] adityaraute commented on #3
What's the status here? This happened already, right?

[2021-07-21 09:50] RAHUL-KAD commented on #191
I am looking for a machine learning or deep learning community. Do you have this community?

[2021-07-21 09:53] adityaraute commented on #191
Not specifically. We are an open source community with members whose proficiencies range through all wings of tech. You'll surely find some people with similar interests as yours.

[2021-07-21 10:04] eddiejaoude commented on #191
I am going to closed this issue, @RAHUL-KAD please create an issue with the relevant type as suggested by @schmelto

For more information please see https://www.eddiejaoude.io/blog-may-2021-joining-eddiehub

[2021-07-21 10:04] #191 closed

[2021-07-21 10:05] eddiejaoude commented on #3
Oh yes this happened, thank you @adityaraute 👍

For any news ideas, let's create new issues

[2021-07-21 10:05] #3 closed

[2021-07-26 22:35] eddiejaoude commented on #187
Thanks for raising 👍 . We can use the `support` CoC everywhere https://github.com/EddieHubCommunity/support/blob/main/CODE_OF_CONDUCT.md

[2021-07-28 00:56] cadmaus commented on #192
Hello, I am new here, is the issue resolved or should I look into it? Also if I should can someone help me get started

[2021-07-28 06:37] schmelto commented on #192
Hey @cadmaus , unfortunately the website is moved to a low code platform. Therefore only @SaraJaoude or Eddie can do those changes I think.

[2021-07-28 07:02] cadmaus commented on #192
Oh okay, Thank you for the reply @schmelto

[2021-07-28 09:21] SaraJaoude commented on #192
We had trouble with the low code template so we have now used another one.  We have checked it on mobile and desktop and this appears to look much better.  Now this is resolved I will close this issue.

![Screenshot 2021-07-28 at 10 20 28](https://user-images.githubusercontent.com/82668196/127297817-1ee35c7d-765a-42cb-9a00-86fcd744a8b8.png)

[2021-07-28 09:21] #192 closed

[2021-07-28 09:22] eddiejaoude commented on #192
Great team work everyone 👍 - looks better now 💥

[2021-08-06 13:52] vishal-codes opened #193 "Adding Back to top button"
Can we add a back to top button.

[2021-08-17 15:09] krishdevdb opened #194 "Testimonials: Typo"
This should be SvelteJS
![www eddiejaoude io_](https://user-images.githubusercontent.com/76587897/129751809-32a2aa00-c05f-45e0-9f97-445e9119a903.png)

Discussed on [Discord](https://discord.com/channels/699608417039286293/699880048504733747/877199964961386516)

[2021-08-28 09:58] gouravmohanty7070 commented on #193
Hey can I take up the issue?

[2021-08-28 11:21] SaraJaoude commented on #193
Hi @gouravmohanty7070 the EddieHub website is done through a low code platform that only Eddie Jaoude and I can make amendments too.

The back to top button has been added and I am therefore closing this issue.

[2021-08-28 11:21] #193 closed

[2021-08-28 19:56] divyanshraj0408 opened #195 "EddieHub's Newsletters page is Irresponsive"
[eddiejaoude.io/newsletter-june-2021](https://www.eddiejaoude.io/newsletter-june-2021)
This page is **not responsive** , and **May Month's Newsletter is facing the same issue**. Kindly look into it, i hope my suggestion helps.
I have attached the screen shot of the May's NewLetter.
![EddieHub Newsletters — Firefox Developer Edition 29-08-2021 01_23_05](https://user-images.githubusercontent.com/733

[2021-08-28 20:00] SaraJaoude commented on #195
As the newsletter initially goes out via email to those that have subscribed, we have to use legacy code to work in the majority of email clients. Therefore we lose a lot of modern functionality - we will keep looking into this.

[2021-08-30 20:20] Panquesito7 opened #197 "Change the website's title to `EddieHub`"

[2021-08-30 20:20] Panquesito7 opened #198 "Add issue forms and pull request templates"

[2021-08-31 03:01] gouravmohanty7070 commented on #197
Can I work on it?

[2021-08-31 09:31] eddiejaoude commented on #197
@gouravmohanty7070 please see this from he readme

[2021-08-31 09:52] eddiejaoude commented on #197
Currently it is

[code]

and yes we should change it to

[code]

[2021-08-31 12:14] Sin-Sumit commented on #197
Hey @eddiejaoude where are the files?

[2021-08-31 12:15] Sin-Sumit commented on #197
In code it has index.html

[2021-08-31 12:28] eddiejaoude commented on #197
@Sin-Sumit please check the text above from the readme, if it is not clear please let us know and it can be updated in the readme.

[2021-08-31 15:09] vishalda commented on #198
Hey, I would like to work on this issue.

[2021-08-31 18:14] Panquesito7 commented on #198
Hey! Someone already made a pull request for this (see #199). Next time, feel free to create a pull request without asking. Thanks. 🙂

[2021-09-01 05:43] Sin-Sumit commented on #197
@eddiejaoude The readme text states that the website is built using the Kartra, then how I can change the title?

[2021-09-01 08:08] eddiejaoude commented on #197
@Sin-Sumit that is my point, unfortunately you cannot change it. This repo is for issuing tracking only. I will update the readme message to avoid confusion

[2021-09-01 09:11] Sin-Sumit commented on #197
Yup, all clear now.

[2021-09-01 09:13] Sin-Sumit commented on #197
@eddiejaoude if this issue is only for tracking then why was asked to change the title.

[2021-09-01 09:46] eddiejaoude commented on #197
I do not see where this happened, where were you asked to change this?

[2021-09-01 11:10] Sin-Sumit commented on #197
It is mentioned in issue197 "Change the website's title to EddieHub".

[2021-09-01 11:23] eddiejaoude commented on #197
Yes, because this is the issue tracking for the website, but you were not ask to change it because you cannot change it, unfortunately only we can change it.

[2021-09-01 13:15] Sin-Sumit commented on #197
Yes, it is mentioned for a change, which actually does not needs to change, I was confused earlier about what to change and I know how to change but where I will do those changes.  But now, I got you can only change and I can't change.

Thank you for the above messages exchange.

[2021-09-01 13:20] eddiejaoude commented on #197
I have now updated this...

<img width="1043" alt="Screenshot 2021-09-01 at 14 20 10" src="https://user-images.githubusercontent.com/624760/131678539-50523c1e-9c75-455d-9873-3fb7e032408a.png">

[2021-09-01 13:20] #197 closed

[2021-09-02 23:00] Panquesito7 commented on #197
@eddiejaoude, thanks for updating it. I think it'd be better if it could be changed to `EddieHub - Inclusive Open Source community`. Let me know what do you think, thanks. 🙂

[2021-09-03 03:47] gouravmohanty7070 commented on #186
Hey! Can I work on it?

[2021-09-04 00:32] Panquesito7 commented on #186
Sure! Feel free to create a PR, and maintainers will review it. 🙂

[2021-09-04 05:07] gouravmohanty7070 commented on #186
@Panquesito7 Can you please brief from where is the code of conduct file missing. Because it seems to work perfectly fine in the readme section!

[2021-09-07 20:29] Panquesito7 commented on #186
It seems this issue is already solved. Can someone close it, please?
Thanks for pointing that out, @gouravmohanty7070! 😄

[2021-09-08 03:58] Utkarsh299-tech commented on #186
Since this issue is already solved, I'm closing it. Thank you, everyone!

[2021-09-08 03:58] #186 closed

[2021-09-10 04:01] FirdausJawed opened #203 "How can I join your team"
I am really eager to join your team

can you please tell me the procedure!! how can i join it and what are the criteria to be a team member here

[2021-09-10 04:02] FirdausJawed commented on #203
I wanna join join the team not only the organisation

[2021-09-10 08:45] eddiejaoude commented on #203
Hi, please do not spam the same message, people live in different timezones and usually do this for free.

We add people to the teams after they add a lot of value to the community. Please look at adding value first

[2021-09-10 08:45] #203 closed

[2021-09-10 09:05] FirdausJawed commented on #203
_ok, thanks_

[2021-09-13 16:37] Amanrk7 opened #204 "MY Issue : These cards are misaligned ."
![image](https://user-images.githubusercontent.com/85789009/133122389-91d2589e-b75a-43da-9ffd-3ed0c86b744b.png)
[](url)

and by correcting with the inspect section  the image is shown as  i set the width to 49px  :-
![image](https://user-images.githubusercontent.com/85789009/133122811-192a8497-94ce-4e8d-aa96-27916dae23ac.png)

It will be great to get the response from you .

[2021-09-13 16:41] Amanrk7 commented on #204
not 49px , 49%{width}

[2021-09-13 17:15] Jassi10000 opened #205 "Add integration of HashNode"
Introduce EddieHub Community on HashNode , its a great free and loved platform ❤

Also pls review my profile
https://github.com/Jassi10000 🤓

[2021-09-13 17:28] Panquesito7 commented on #204
Once another staff is added to the list it will look totally fine, I think. 🙂

[2021-09-14 04:59] SriSatyaT opened #206 "DataStax in Eddiehub website"
The alignment of DataStax in Sponsor section. Aligning towards center might effect eddiehub moscout. So it looks good only if the moscout is above the Subline "we are sponsored by" or below the "Sign up now for free to DataStax's NoSQL serverless Open Source database!"
![SriSatyaT ( Sri Satya) - Google Chrome 14-09-2021 10_05_58_LI](https://user-images.githubusercontent.com/78905067/133197199-51fa

[2021-09-14 09:29] SaraJaoude commented on #204
Thank you but this is a duplicate of:

https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/issues/170

[2021-09-14 09:29] #204 closed

[2021-09-14 09:30] eddiejaoude commented on #184
@adityaraute this is not collaborative language, I would have expected more from you 😞

[2021-09-14 09:31] SaraJaoude commented on #206
Thanks for the feedback - unfortunately this is one of the limitations of using a low code platform and their templates (which can be a bit restrictive).  We will look into this.

[2021-09-14 09:33] SaraJaoude commented on #184
This is a duplicate of:
https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/issues/170

[2021-09-14 09:33] #184 closed

[2021-09-14 09:33] SriSatyaT commented on #206
Alright. Thought it would be a good first issue for noobs in open source 😅.

[2021-09-14 09:34] SriSatyaT commented on #206
Alright. Thought it would be good first issue for the folks who wanted to start their open source journey in Eddiehub 😅.

[2021-09-14 09:38] SaraJaoude commented on #206
As we are using a low code platform, the EddieHub website can only be updated by Eddie Jaoude and I. We have this repo for issue tracking only :)

Good repos for people to get started are:

- https://github.com/EddieHubCommunity/hacktoberfest-practice
- https://github.com/EddieHubCommunity/LinkFree

[2021-09-14 09:39] SriSatyaT commented on #206
Thanks Sara for the info.

[2021-09-14 09:42] Amanrk7 commented on #204
hi , yes u are right i also saw that but after that also it was misaligned {this time in the section of  "Kaiwalya Koparkar"} , so when i set the width to 49% , it was good in shape . But fine if u had resolved it already , maybe it was not showing the repair in my browser. but it was really great contributing in it .
i'll try , my best next time .  Tip from your side will be a great help .

[2021-09-14 10:06] eddiejaoude commented on #204
Thank you for raising the issue and experimenting with solutions. Please feel free to add it to the existing issue #170 as it is not fixed yet

[2021-09-14 15:11] adityaraute commented on #170
Is there any PR regarding this?

[2021-09-14 17:09] SaraJaoude commented on #170
As mentioned in the first line of the README quoted above, no PRs can be made as this is a low code platform managed by Eddie Jaoude and I.

[2021-09-14 18:32] adityaraute commented on #170
Ahh alright. But then are those suggestions implementable? (Not sure if that's a word to be honest)

[2021-09-14 20:10] SaraJaoude commented on #170
We are looking into whether these changes can be implemented by the low code platform.

[2021-09-18 22:27] BOLT04 commented on #167
@eddiejaoude do you know if there is a way in Kartra to modify code? Or perhaps content or settings to improve performance, etc. If not I don't think we can do much about LightHouse's metrics.

[2021-09-19 07:55] adityaraute commented on #170
Oh Kartra is a paid service offering developed business websites as I see it. Would be hard to get the CSS change refined. Have yall gotten in touch with the Support team there?

[2021-09-24 11:52] guptasajal411 opened #207 "Typo in Community Call Sign Up page"
I noticed a typo in `Community Classroom` in the community call sign up page
Link: https://www.eddiehub.org/community-call-sign-up
Screenshot:
![image](https://user-images.githubusercontent.com/70312106/134669859-c92de352-4fd1-457c-a7e8-f8f32fd71a66.png)

[2021-09-24 11:55] SaraJaoude commented on #207
Thanks @guptasajal411.  I have now resolved this
<img width="1016" alt="Screenshot 2021-09-24 at 12 53 42" src="https://user-images.githubusercontent.com/82668196/134670158-89e2d56a-58ee-45a3-832a-6a0ea7722df2.png">
.

[2021-09-24 11:55] #207 closed

[2021-09-24 11:56] guptasajal411 commented on #207
Thanks for the quick response 💥

[2021-09-29 08:43] tanishagupta1 opened #208 "Anchor tags missing"
![Screenshot (2655)](https://user-images.githubusercontent.com/73746588/135234067-bdd4c52d-bceb-4e30-a94f-a6e44c31147b.png)

Links to Newsletter and LinkedIn are absent in aforementioned section in the image

[2021-09-29 09:03] SaraJaoude commented on #208
Thank you for your contribution.  This has now been done.

[2021-09-29 09:03] #208 closed

[2021-10-01 16:38] manavmodi22 opened #209 "Feature Request- UI Improvement for Hacktoberfest page"
Checked out the site https://www.eddiehub.org/hacktoberfest-2021 .
![image](https://user-images.githubusercontent.com/55242552/135656542-576da47b-1dba-4614-a63f-eff50263f4e9.png)
The timeline could be improved by:

1. Adding links to each video/streams.
2. Calendar invite
3. Progress indicators like green ticks indicating that the stream is already over.

[2021-10-01 19:37] SaraJaoude commented on #209
Thank you for the suggestions.

1. It is very difficult to create these in advance given that we are dependent on the guests confirming their presence and providing the information we need.
2. We will look into this in the future, but in the meantime there is always the facility to set a reminder.
3. Unfortunately this is not easily done to integrate with YouTube. Given that the time and date is o

[2021-10-01 19:37] #209 closed

[2021-10-03 05:14] MeghaKeshri commented on #115
well what is the current tagline

[2021-10-03 08:39] eddiejaoude commented on #115
Our main one is "Collaboration 1st Code 2nd" 🔥

[2021-10-04 08:42] Sin-Sumit opened #211 "Add Issue Templates"
Having an Issue Template makes maintainers handle the project easily.
Either of them can be added bug, documentation, or feature in the issue templates.

If you like this suggestion, ping me to work on this.

[2021-10-04 14:01] adityaraute commented on #115
I second this

[2021-10-27 00:05] lmac-1 opened #213 "Unable to see the captcha code on newsletter sign up"
### Description

When signing up for the newsletter on [Eddie Hub](https://www.eddiehub.org/), I couldn't see the captcha code.

Browser: Google Chrome (Version 95.0.4638.54)
OS: MacOS Big Sur Version 11.6

It works fine on Firefox (v92).

### Screenshots

<img width="692" alt="Screenshot 2021-10-26 at 18 57 47" src="https://user-images.githubusercontent.com/64803272/138977665-20b9cb0a-c495-4056-9

[2021-11-05 14:39] ZaidKhan2002 opened #214 "Navbar not responsive for tablet size"
### Description

Navbar is not responsive for tablet size and all the elements are misplaced. I should have toggle button for tablet size and should be straight for big screens such as laptop.

### Screenshots

<img width="883" alt="Screenshot 2021-11-05 at 8 05 01 PM" src="https://user-images.githubusercontent.com/71960989/140528238-a35b5ee7-d4df-4794-848d-1a333bbcb652.png">

### Additional infor

[2021-11-06 10:09] SaraJaoude commented on #214
Thank you for raising.  I have now addressed this by adding a button for the brochure.

<img width="682" alt="Screenshot 2021-11-06 at 10 08 29" src="https://user-images.githubusercontent.com/82668196/140605911-e343703e-21d7-4421-af26-a5ac298c52d9.png">

I will now close this issue.

[2021-11-06 10:09] #214 closed

[2021-11-24 18:43] Tejas-Teju opened #215 "[FEATURE] Use cards for testimonials"
### ⭐ Suggestion

In the testimonials section, I feel like we can use cards instead of existing design where it is quite stretched.

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-11-25 03:24] krishguptadev opened #216 "[FEATURE] Add my testimonial!"
### ⭐ Suggestion

EddieHub is the place where my journey began, EddieHub tries to help everyone in every possible way they can! I didn't even know how to code when I joined, now am skilled enough to help other people. I love the gesture of the community, the community is built over strong pillars. Love how the community is really friendly, everyone is up for helping anyone. Eddie is awesome, the m

[2021-11-25 04:51] Panquesito7 commented on #216
You can also add your testimonial in the following
discussion, by the way 😃 https://github.com/EddieHubCommunity/support/discussions/1618

[2021-11-25 04:57] krishguptadev commented on #216
To the discussion thread instead.

[2021-11-25 04:57] #216 closed

[2021-11-26 16:42] Saurabhpatil-dev commented on #211
Hello @Sin-Sumit , I would like to work on it.

Can I use the templates from issuetemplates from linkfree for refrence?

[2021-11-27 06:17] krishguptadev commented on #211
yes!

[2021-11-27 06:50] krshkodes opened #219 "[FEATURE] Update COC to v2.1"
### ⭐ Suggestion

Update the Code of Conduct from the official site: https://www.contributor-covenant.org/version/2/1/code_of_conduct/

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-11-27 06:51] krshkodes opened #220 "[FEATURE] Update Email in Code of Conduct"
### ⭐ Suggestion

![image](https://user-images.githubusercontent.com/91655303/143671437-15b106b0-b0ea-47f0-a35a-15a2cb529989.png)

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-11-27 14:48] salmantec commented on #220
Shall I pick this ?

[2021-11-28 01:27] eddiejaoude commented on #205
Going to close as should be opened on the `support` repo as suggested

[2021-11-28 01:27] #205 closed

[2021-11-28 05:10] Panquesito7 commented on #220
Feel free to work on it! 😄

[2021-11-28 05:11] Vidit-Ostwal commented on #219
Shall I work on this?

[2021-11-28 05:12] krishguptadev commented on #219
sure!

[2021-12-12 00:56] eddiejaoude commented on #167
Sorry for my slow reply @BOLT04 - I am behind in my GitHub notifications

Yes we can modify the code, but I am not sure if we break any low-code functionality - we can try it

[2022-01-14 18:03] Kannav02 commented on #220
has this issue been fixed?

[2022-01-14 20:44] Panquesito7 commented on #220
There are various open PRs for this https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/pulls but no, it hasn't been fixed yet.

[2022-01-15 10:10] Kannav02 commented on #220
Can I contribute to it then?

[2022-01-15 13:58] Evavic44 commented on #220
I think what @Panquesito7 is trying to say is that there are a lot of fixes for this that haven't been merged.

[2022-01-15 15:10] Kannav02 commented on #220
Oh okay

[2022-01-15 16:47] salmantec commented on #220
Yeah I think, I have already raised PR for this issue. @Panquesito7  Please check.

[2022-01-31 23:23] lmac-1 commented on #213
Hi everyone, I was just on the EddieHub website again (using Google Chrome as before) and I can see the Captcha code. I can no longer replicate this issue.

![image](https://user-images.githubusercontent.com/64803272/151889315-f189ce06-2eb6-4f43-9987-118c21b60971.png)

Not sure if you want to close the ticket.

[2022-01-31 23:25] eddiejaoude commented on #213
Ok thanks Lucy, we will close for now. If it occurs again we can reopen it. Thanks for following up 👍

[2022-01-31 23:25] #213 closed

[2022-02-07 17:35] KendallDoesCoding opened #223 "David Leal missing from mods section"
### Description

I think, David Leal (@Panquesito7) is a mod of EddieHub too, but I can't see his name under the mods section.

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-07 18:38] Panquesito7 commented on #223
Hey there! Nope, I'm not a moderator for EddieHub 😅 just a repository maintainer.

[2022-02-07 19:29] KendallDoesCoding commented on #223
Oh ok, btw you messed up the Youtube icon in my README with your PR, I think. Please restore branch and I will revert changes.

[2022-02-07 19:29] #223 closed

[2022-02-28 01:44] SaraJaoude commented on #176
The website is created with a low code platform and only Eddie and myself can make amendments. It does not appear that this issue can be easily fixed. I am closing this issue as this only affects a small number of users who have smaller mobile screens.

[2022-02-28 01:44] #176 closed

[2022-02-28 14:37] KendallDoesCoding opened #224 "Add contributing guidelines"
Can work on this. Please assign me

[2022-02-28 16:43] KendallDoesCoding opened #225 "SECURITY POLICY"
Add a security policy to report security vulnerabilities. This can be added by creating SECURITY.MD preferably in the .github directory.

Inculde url http://eddiejaoude.io/contact to report security issues

[2022-02-28 19:49] Ash-KODES commented on #225
Ok,Can I work on that?

[2022-02-28 19:56] Ash-KODES opened #228 "Pull request template"
### ⭐ Suggestion

pull request template need to be added in .github folder

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2022-03-01 08:19] KendallDoesCoding commented on #225
Yes

On Tue, 1 Mar 2022 at 01:19, ASHUTOSH KUMAR CHOUDHARY <
***@***.***> wrote:

[2022-04-18 06:21] eddiejaoude commented on #170
CSS changes can be made but often breaks the page in other ways.

I will close this issue as part of it is done. Individual issues can be created for each item going forwards.

[2022-04-18 06:21] #170 closed

[2022-05-16 20:37] eddiejaoude commented on #215
Going to close as website is managed by a no code platform, we have limited options

[2022-05-16 20:37] #215 closed

[2022-05-16 20:56] eddiejaoude commented on #219
PR #222  got merged

[2022-05-16 20:56] #219 closed

[2022-05-17 08:14] eddiejaoude commented on #220
PR #221  was merged, closing issue

[2022-05-17 08:14] #220 closed

[2022-05-18 03:36] mohakdev opened #230 "Discord link not working"
### Description

The link to the discord server on the website is not working properly. I would love to fix this but which repo is the actual code stored in ???

### Screenshots

![brave_wVjpDinnzA](https://user-images.githubusercontent.com/73052518/168951800-f04d2ee3-a60c-4191-bc09-ea2979053442.gif)

### Additional information

_No response_

[2022-05-18 07:31] eddiejaoude commented on #230
Thank you creating the issue and the animated gif!

It looks like the issue is with Discord itself, as the first step looks fine. Can you try a different browser or clear the cache?

The code for the project is in a no-code platform

[2022-05-18 07:33] mohakdev commented on #230
Sure

[2022-05-18 07:37] mohakdev commented on #230
Ok so I tried this with Chrome and Brave and it seems the issue is coming in both of them. But I managed to find a solution. The solution is to open the discord app means it won't open in the discord browser but it will open in the app. Seems the problem is with discord not the link

[2022-05-21 10:43] MarieTKD opened #231 "[DOCS] Membership clarification"
### Description

Add to the FAQ "How to become a member" with a link to the invite

### Screenshots

_No response_

### Additional information

_No response_

[2022-05-24 09:36] eddiejaoude commented on #231
Thanks @MarieTKD

@SaraJaoude can you add another FAQ to the EddieHub.org website, for people to fill in this form to get an automatic invite to the EddieHub GitHub Org

Please also add they need to make it `public` if they want it to appear on their profile, by default it is `private`

https://github.com/EddieHubCommunity/support/issues/new?assignees=&labels=invite+me+to+the+organisation&template

[2022-05-24 15:35] SaraJaoude commented on #231
The website has now been updated. See screenshot:

<img width="1167" alt="Screenshot 2022-05-24 at 16 32 30" src="https://user-images.githubusercontent.com/82668196/170075183-473a0d31-4765-4c3b-91f4-955b1847823c.png">

I will now close this.

[2022-05-24 15:35] #231 closed

[2022-05-27 05:30] eddiejaoude commented on #224
Thank you for the suggestion, but the website is managed in a no-code solution, so I don't think this makes sense on this repo.

[2022-05-27 05:30] #224 closed

[2022-05-27 05:32] #228 closed

[2022-05-27 05:34] #225 closed

[2022-06-15 06:39] RohitKS7 opened #233 "Add Contributing.md"
### Description

Hey, Folks!
It's my first ever contribution to the open-source world after watching Eddie's youtube video!
I have added a pull request for " **Contributing.md** " and want to know if I did it right or not!

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-15 07:47] eddiejaoude commented on #233
Thank you for your contribution, I left a comment in your PR https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/pull/232#issuecomment-1156113059

[2022-07-01 12:24] cl507iff commented on #121
Is someone working on this issue?

[2022-07-01 12:32] eddiejaoude commented on #206
Closing this issue as DataStax is no longer a sponsor

[2022-07-01 12:32] #206 closed

[2022-07-01 12:55] cl507iff commented on #178
Is the inclusive language issue fixed? If not I could fix it.

[2022-07-01 12:58] eddiejaoude commented on #178
oops yes this is fixed, we should close the issue 👍 thank you for letting us know

We discussed some open source contributions in our Discord today if you are looking for some http://discord.eddiehub.org

[2022-07-01 12:58] #178 closed

[2022-07-15 23:22] franklinscripts opened #234 "Request To Join the COMMUNITY!!![OTHER]"
### What would you like to share?

### Request to join the community
** Hi my name I franklin**, I am a junior frontend developer , started my career late 2021.
I am looking forward to join this community so as to improve my background on the industry and to explore more fields in tech
@eddiejaounde I am looking forward for an invitation.. Thanks.

### Additional information

_No response_

[2022-07-16 00:21] chikaazuonwu opened #235 "REQUEST TO JOIN COMMUNITY"
### Description

Hi
My name is Chika Azuonwu and am interested in joining your community to become a member. I want to learn coding and tech from members of this community.

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-16 02:52] Samruddhiiii opened #236 "REQUEST TO JOIN THE COMMUNITY"
### What would you like to share?

HEY!
My name is Samruddhi, I am an Open source enthusiast and really following the community on youtube for a very long time. And now looking to join you as well on Github. I want to learn coding and tech from members of this community.

### Additional information

_No response_

[2022-07-16 02:53] #236 closed

[2022-07-16 02:56] Samruddhiiii commented on #236
add to me in organisation

[2022-07-16 06:33] EmuSmith commented on #235
Hello, I am Smith Emu Utethe, i want to be a part of this project. I saw your interest in Front-End and I do know i can benefit from this community to better the world.

[2022-07-16 06:41] eddiejaoude commented on #235
Great, yes join us! We have more information on our website http://eddiehub.org and also our GitHub Org README has steps to follow

https://github.com/EddieHubCommunity?view_as=public

[2022-07-16 06:41] #235 closed

[2022-07-16 06:54] eddiejaoude commented on #236
Hi @Samruddhiiii , welcome 👋

Sure, you can add your and also get started contributing to open source by following the steps in our GitHub Org, any questions or improvements let us know https://github.com/EddieHubCommunity?view_as=public

[2022-07-16 07:19] eddiejaoude commented on #234
Sure, you can add yourself to the Organisation and also get started contributing to open source by following the steps in our GitHub Org, any questions or improvements let us know https://github.com/EddieHubCommunity?view_as=public

[2022-07-16 07:19] #234 closed

[2022-07-17 02:49] SussyAi opened #237 "Please invite me to the GitHub community organization."
### What would you like to share?

Please invite me to the GitHub community organization.
I would love to be part of this community and learn.

Name - Ashish Kumar aka Ash ish SussyAi
Discord - Ash ish#2003

I want to contribute to the community.

### Additional information

_No response_

[2022-07-17 02:55] #237 closed

[2022-07-18 15:39] 19Kunal2001 opened #238 "[OTHER] Kindly Invite me to join this community."
### What would you like to share?

Hello members,
Hello all, hope all are doing good. I am new on github and don't have any idea. I would like to Learn and contribute along the community . Kindly invite me to join this community.
Thankyou. Cheers

### Additional information

_No response_

[2022-07-18 20:45] eddiejaoude commented on #238
Please raise an issue here https://github.com/EddieHubCommunity/support/issues/new?assignees=&labels=invite+me+to+the+organisation&template=invitation.yml&title=Please+invite+me+to+the+GitHub+Community+Organization

[2022-07-18 20:45] #238 closed

[2022-07-25 23:43] Decryptus007 opened #239 "[OTHER]"
### What would you like to share?

**I would like to join this amazing community**

### Additional information

_No response_

[2022-07-29 22:41] Kartik2220 opened #241 "[DOCS] badges absent in README.md"
### Description

need to add badges in Readme.md file

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-30 06:59] Vedanshi555 opened #242 "[OTHER] how can i join your organization?"
### What would you like to share?

hello,  i am new comer, i don't have much idea about this and i am not sure that this is even the right way to ask about this..so sorry about that but can you please help me with it?

### Additional information

_No response_

[2022-07-30 08:16] eddiejaoude commented on #242
Hi, welcome, all our links are available here http://linkfree.eddiehub.io/EddieHubCommunity

[2022-07-30 08:16] #242 closed

[2022-08-03 09:36] cheloghm opened #243 "[OTHER]"
### What would you like to share?

I would love to be a member of the EddieHubCommunity.
I'm really intrigued about the open source community and would love to contribute to as much projects as I can.

### Additional information

_No response_

[2022-08-06 15:35] JozefBlue opened #244 "[OTHER]"
### What would you like to share?

I would like to join yours organization, as first org. for me on the github.

### Additional information

_No response_

[2022-08-06 15:44] #244 closed

[2022-09-03 16:12] ayushmangarg2003 commented on #241
Hey I am a beginner and would like to contribute to this project if I could. can you assist me how to do it

[2022-09-13 14:32] ShaikMoAbdullah opened #245 "GitHub Actions Enhancements"
### What would you like to share?

To add kubescape actions file to the project

### Additional information

_No response_

[2022-09-14 06:20] eddiejaoude commented on #245
Thank you for your contribution. However, this project doesn't get deployed and has no kubernetes config for checking. So I will close this issue.

[2022-09-14 06:20] #245 closed

[2022-10-08 06:47] jyotika6221 commented on #241
Hey i would like to work on it, please assign me.

[2022-11-13 11:55] Aniket1026 opened #247 "Ambassador program - accordion not working properly"
### Description

The accordion of the ambassador program is not working properly . Although all the questions are answered correctly in detail but the last question of the last section is already opened and even after clicking the arrow to close , it is not even closing.
If it is kept like this for any reason ? I'd love to know. If not then I think we can improve this . Below I'll be attaching the

[2022-11-13 13:57] SaraJaoude commented on #247
As all pages on the eddiehub.org domain are created using a low code platform, only myself and Eddie Jaoude can make changes to these.

Thank you for bringing this to our attention, this has now been resolved (see screenshot) so I will be closing this issue.

<img width="1121" alt="Screenshot 2022-11-13 at 13 50 55" src="https://user-images.githubusercontent.com/82668196/201525545-d30b88ec-ec64-44

[2022-11-13 13:57] #247 closed

[2022-11-13 18:32] Aniket1026 commented on #247
Sure @SaraJaoude I was aware that I couldn't contribute by myself . I was just to bring your attention on this issue so that it gets resolved . I'm glad that I was able to help by any means.

Thank you 😄

[2022-11-13 18:40] eddiejaoude commented on #247
thanks @Aniket1026 and @SaraJaoude 👍